---
layout: main.tpl
college: lcf
section: channel
title: LCF Channel - Live Stream
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			{% include _lcf_navigation.html %}
		</nav>

		<div role="main" class="content">
		<div class="row">
    <div class="l-content-full-width  block  __media  __with-aside">

          <div class="row">
                        <div class="l-content">



              <div class="video-container">


                <iframe src='http://live.3xscreen.com/lcf/embed/' width='100%' height='360' frameborder='0'></iframe>




              </div><!-- .video-container -->


            <div class="__text">





              <p>Course Director Susan Postlethwaite&nbsp;introduces&nbsp;<a href="/fashion/courses/graduate-school/culture-and-curation/ma-fashion-futures/">MA Fashion Futures</a>, a course focusing on the future of fashion that was developed to satisfy demand from students, industry and the international community. The course has strong links&nbsp;to industry, government, NGOs and the Centre for Sustainable Fashion.</p>


            </div><!-- .__text -->

                    </div><!-- .l-content -->


          <!-- aside -->
          <aside>
          	<a class="twitter-timeline" href="https://twitter.com/search?q=%23lcfma14" data-widget-id="348030047027863552">Tweets about "#lcfma14"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>






          </aside>
          <!-- end aside -->

        </div><!-- .row -->

    </div><!-- end __media -->
  </div>

			<!--
			<div class="row">
				<div class="l-content-full-width  block  __media">
					<div class="row">
						<div class="video-container">
							<div class="dark-gray-bg centered">
								<iframe src='http://live.3xscreen.com/lcf/embed/' width='640' height='360' frameborder='0'></iframe>
							</div>
							<div class="caption"><span><h4>Watch the MA14 Catwalk Live Stream</h4>
<p>We will broadcast live from the Waldorf Hotel during London Fashion Week. <strong>Watch live: 10.30am Friday 14th Feb 2014</strong></p></span></div>

						</div>
					</div>
				</div>
			</div>
			-->

			<!-- media block -->
			{% include components/_media-block-2-up.html %}

			<div class="row">
			  <div class="l-content-full-width  view-all">
			    <p><a href="{{ site.url }}content/colleges/lcf/people/teaching-staff/" class="button-link" title="View all"><span class="hide-descriptive-text">Follow this link to go to more information about</span>View all</a></p>
			  </div>
			</div>

		</div> <!-- end main-content -->

	</div><!-- .row -->
</div><!-- .content-wrapper -->
