---
layout: main.tpl
college: ual
title: Centre for Fashion Curation
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			<ul class="no-bullet">
				<li class="menu-heading">In this section</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">International Exhibitions Programme</a>
				</li>
			</ul>		
		</nav>	

		<div role="main" class="content">
			{% include components/_slider-12.html %}
			
			<div class="row">
				<div class="l-content-full-width  block  __media  three-up">
					<h2>Our team</h2>
					<ul>
						<li>
								<figure class="feature">
								<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
										<div class="credits">This would be the credits, if applicable</div>
									
								</figure>
									<h3><a href="" title="">Title</a></h3>
										<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
										
						</li>
						<li>
								<figure class="feature">
								<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
										<div class="credits">This would be the credits, if applicable</div>
									
								</figure>
									<h3><a href="" title="">Title</a></h3>
										<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
										
						</li>
						<li>
								<figure class="feature">
								<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
										<div class="credits">This would be the credits, if applicable</div>
									
								</figure>
									<h3><a href="" title="">Title</a></h3>
										<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
										
						</li>
					</ul>
				</div> <!-- end image-block-3-up -->
			</div> <!-- end row -->

			<div class="row">
				<div class="l-content-full-width block __media two-up">
					<h2>Explore</h2>
					<ul>
						<li class="region">
								<figure class="feature">
								<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
										<div class="credits">This would be the credits, if applicable</div>
									<figcaption><span>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</span></figcaption>	
								</figure>
								<h3><a href="" title="">Fashion Space Gallery</a></h3>
									<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
									<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
						</li>
						<li class="region">
								<figure class="feature">
								<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
										<div class="credits">This would be the credits, if applicable</div>
									<figcaption><span>This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)</span></figcaption>	
								</figure>
								<h3><a href="" title="">MA Fashion Curation</a></h3>
									<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
									<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
						</li>
					</ul>
				</div> <!-- end image-block-2-up -->
			</div> <!-- end row -->
		</div>

		<div class="row">
			<div class="content">
			  <h2>Latest News</h2>
				<ul>
					<li>
			<div class="text">
			<p class="title"><a href="http://blogs.arts.ac.uk/fashion/2013/05/16/lcf-wins-at-british-fashion-council-graduate-preview-day-2013/">LCF wins at British Fashion Council Graduate Preview Day 2013</a></p>
			  	<p class="date"><strong>Thu, 16 May 2013 13:30:38 +0000</strong></p>
			</div>
			</li><li>
			<div class="text">
			<p class="title"><a href="http://blogs.arts.ac.uk/fashion/2013/04/03/lcf-alumnus-starts-menswear-brand-no-44/">LCF alumnus starts menswear brand – No. 44</a></p>
			  	<p class="date"><strong>Wed, 03 Apr 2013 09:45:46 +0000</strong></p>
			</div>
			</li><li>
			<div class="text">
			<p class="title"><a href="http://blogs.arts.ac.uk/fashion/2012/07/25/lcf2012-a-backstage-preview/">LCF2012 – A Backstage Preview</a></p>
			  	<p class="date"><strong>Wed, 25 Jul 2012 13:05:04 +0000</strong></p>
			</div>
			</li>
				</ul>
			</div>
      </div>
	

	</div><!-- .row -->
</div><!-- .content-wrapper -->

{% include components/_related-content.html %}
