.icon-black-bg-book {
	background-image: url('png/black-bg-book.png');
	background-repeat: no-repeat;
}
.icon-black-bg-button-arrow-down {
	background-image: url('png/black-bg-button-arrow-down.png');
	background-repeat: no-repeat;
}
.icon-black-bg-button-next {
	background-image: url('png/black-bg-button-next.png');
	background-repeat: no-repeat;
}
.icon-black-bg-button-prev {
	background-image: url('png/black-bg-button-prev.png');
	background-repeat: no-repeat;
}
.icon-black-bg-calendar {
	background-image: url('png/black-bg-calendar.png');
	background-repeat: no-repeat;
}
.icon-black-bg-close {
	background-image: url('png/black-bg-close.png');
	background-repeat: no-repeat;
}
.icon-black-bg-connect {
	background-image: url('png/black-bg-connect.png');
	background-repeat: no-repeat;
}
.icon-black-bg-document {
	background-image: url('png/black-bg-document.png');
	background-repeat: no-repeat;
}
.icon-black-bg-download {
	background-image: url('png/black-bg-download.png');
	background-repeat: no-repeat;
}
.icon-black-bg-facebook {
	background-image: url('png/black-bg-facebook.png');
	background-repeat: no-repeat;
}
.icon-black-bg-googleplus {
	background-image: url('png/black-bg-googleplus.png');
	background-repeat: no-repeat;
}
.icon-black-bg-info {
	background-image: url('png/black-bg-info.png');
	background-repeat: no-repeat;
}
.icon-black-bg-instagram {
	background-image: url('png/black-bg-instagram.png');
	background-repeat: no-repeat;
}
.icon-black-bg-link {
	background-image: url('png/black-bg-link.png');
	background-repeat: no-repeat;
}
.icon-black-bg-linkdin {
	background-image: url('png/black-bg-linkdin.png');
	background-repeat: no-repeat;
}
.icon-black-bg-linkout {
	background-image: url('png/black-bg-linkout.png');
	background-repeat: no-repeat;
}
.icon-black-bg-location {
	background-image: url('png/black-bg-location.png');
	background-repeat: no-repeat;
}
.icon-black-bg-mail {
	background-image: url('png/black-bg-mail.png');
	background-repeat: no-repeat;
}
.icon-black-bg-phone {
	background-image: url('png/black-bg-phone.png');
	background-repeat: no-repeat;
}
.icon-black-bg-pinterest {
	background-image: url('png/black-bg-pinterest.png');
	background-repeat: no-repeat;
}
.icon-black-bg-plus {
	background-image: url('png/black-bg-plus.png');
	background-repeat: no-repeat;
}
.icon-black-bg-twitter {
	background-image: url('png/black-bg-twitter.png');
	background-repeat: no-repeat;
}
.icon-black-bg-vimeo {
	background-image: url('png/black-bg-vimeo.png');
	background-repeat: no-repeat;
}
.icon-black-circle-plus {
	background-image: url('png/black-circle-plus.png');
	background-repeat: no-repeat;
}
.icon-no-bg-arrow-down {
	background-image: url('png/no-bg-arrow-down.png');
	background-repeat: no-repeat;
}
.icon-no-bg-black-close {
	background-image: url('png/no-bg-black-close.png');
	background-repeat: no-repeat;
}
.icon-no-bg-black-menu {
	background-image: url('png/no-bg-black-menu.png');
	background-repeat: no-repeat;
}
.icon-no-bg-black-plus {
	background-image: url('png/no-bg-black-plus.png');
	background-repeat: no-repeat;
}
.icon-no-bg-black-search {
	background-image: url('png/no-bg-black-search.png');
	background-repeat: no-repeat;
}
.icon-no-bg-calendar {
	background-image: url('png/no-bg-calendar.png');
	background-repeat: no-repeat;
}
.icon-no-bg-connect {
	background-image: url('png/no-bg-connect.png');
	background-repeat: no-repeat;
}
.icon-no-bg-document {
	background-image: url('png/no-bg-document.png');
	background-repeat: no-repeat;
}
.icon-no-bg-download {
	background-image: url('png/no-bg-download.png');
	background-repeat: no-repeat;
}
.icon-no-bg-facebook {
	background-image: url('png/no-bg-facebook.png');
	background-repeat: no-repeat;
}
.icon-no-bg-flickr {
	background-image: url('png/no-bg-flickr.png');
	background-repeat: no-repeat;
}
.icon-no-bg-googleplus {
	background-image: url('png/no-bg-googleplus.png');
	background-repeat: no-repeat;
}
.icon-no-bg-info {
	background-image: url('png/no-bg-info.png');
	background-repeat: no-repeat;
}
.icon-no-bg-instagram {
	background-image: url('png/no-bg-instagram.png');
	background-repeat: no-repeat;
}
.icon-no-bg-link {
	background-image: url('png/no-bg-link.png');
	background-repeat: no-repeat;
}
.icon-no-bg-linkout {
	background-image: url('png/no-bg-linkout.png');
	background-repeat: no-repeat;
}
.icon-no-bg-location {
	background-image: url('png/no-bg-location.png');
	background-repeat: no-repeat;
}
.icon-no-bg-mail {
	background-image: url('png/no-bg-mail.png');
	background-repeat: no-repeat;
}
.icon-no-bg-next {
	background-image: url('png/no-bg-next.png');
	background-repeat: no-repeat;
}
.icon-no-bg-phone {
	background-image: url('png/no-bg-phone.png');
	background-repeat: no-repeat;
}
.icon-no-bg-pinterest {
	background-image: url('png/no-bg-pinterest.png');
	background-repeat: no-repeat;
}
.icon-no-bg-plus {
	background-image: url('png/no-bg-plus.png');
	background-repeat: no-repeat;
}
.icon-no-bg-prev {
	background-image: url('png/no-bg-prev.png');
	background-repeat: no-repeat;
}
.icon-no-bg-ticket {
	background-image: url('png/no-bg-ticket.png');
	background-repeat: no-repeat;
}
.icon-no-bg-twitter {
	background-image: url('png/no-bg-twitter.png');
	background-repeat: no-repeat;
}
.icon-no-bg-vimeo {
	background-image: url('png/no-bg-vimeo.png');
	background-repeat: no-repeat;
}
.icon-no-bg-white-close {
	background-image: url('png/no-bg-white-close.png');
	background-repeat: no-repeat;
}
.icon-no-bg-white-menu {
	background-image: url('png/no-bg-white-menu.png');
	background-repeat: no-repeat;
}
.icon-no-bg-white-plus {
	background-image: url('png/no-bg-white-plus.png');
	background-repeat: no-repeat;
}
.icon-no-bg-white-search {
	background-image: url('png/no-bg-white-search.png');
	background-repeat: no-repeat;
}
