/**
 * Brandon
 *
 * This is the specific font face that is being used for CCW (Camberwell, Chelsea and Wimbledon)
 *
 */

/**
 * ^h1 ^h2
 */

@font-face {
    font-family: 'BrandonText-Bold';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-bold.eot.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-bold.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-bold.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonText-Regular';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-regular.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-regular.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-regular.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/brandon-text-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

%BrandonText-Bold { font-family: BrandonText-Bold; }
%BrandonText-Regular { font-family: BrandonText-Regular; }

// Copyright

/* @license
//  * MyFonts Webfont Build ID 2590056, 2013-06-27T08:49:50-0400
//  * 
//  * The fonts listed in this notice are subject to the End User License
//  * Agreement(s) entered into by the website owner. All other parties are 
//  * explicitly restricted from using the Licensed ../fonts(s).
//  * 
//  * You may obtain a valid license at the URLs below.
//  * 
//  * Webfont: Swiss 721 Light by Bitstream
//  * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/light/
//  * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
//  * 
//  * Webfont: Swiss 721 by Bitstream
//  * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/swiss-721/
//  * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
//  * 
//  * Webfont: Swiss 721 Italic by Bitstream
//  * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/italic/
//  * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
//  * 
//  * Webfont: Swiss 721 Bold by Bitstream
//  * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/bold/
//  * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
//  * 
//  * Webfont: Swiss 721 Black by Bitstream
//  * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/black/
//  * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
//  * 
//  * Webfont: Swiss 721 Medium by Bitstream
//  * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/medium/
//  * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
//  * 
//  * Webfont: Brandon Text Bold by HVD Fonts
//  * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
//  * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
//  * 
//  * Webfont: Brandon Text Regular by HVD Fonts
//  * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
//  * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
//  * 
//  * 
//  * License: http://www.myfonts.com/viewlicense?type=web&buildid=2590056
//  * 
//  * © 2013 MyFonts Inc
// */

