/**
 * Bureau Grot Bold
 *
 * This is the specific font face that is being used for Central Saint Martins
 *
 */

/**
 * ^h2 ^h3
 */

@font-face {
	font-family: 'BureauGrotBold';
	src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/bureau-grot-text-bold.eot');
	src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/bureau-grot-text-bold.eot?#iefix') format('embedded-opentype'),
	url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/bureau-grot-text-bold.woff') format('woff'),
	url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/bureau-grot-text-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


%BureauGrotBold { font-family: BureauGrotBold; }

/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/
