/**
 * Swiss 721
 *
 * This is the specific font face that is being used for the University of the Arts London
 *
 */

/**
 * ^h1 ^h2
 */

@font-face {
    font-family: 'Swiss721BT-Light';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Swiss Roman

@font-face {
    font-family: 'Swiss721BT-Roman';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
// Swiss Italic

@font-face {
    font-family: 'Swiss721BT-Italic';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Swiss Bold

@font-face {
    font-family: 'Swiss721BT-Bold';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Swiss Black

@font-face {
    font-family: 'Swiss721BT-Black';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Swiss Medium

@font-face {
    font-family: 'Swiss721BT-Medium';
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.eot');
    src: url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.eot?#iefix') format('embedded-opentype'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.woff') format('woff'),
    url('http://www.arts.ac.uk/media/beta/beta-assets/fonts/swiss-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

%Swiss721BT-Light { font-family: Swiss721BT-Light; }
%Swiss721BT-Light-important { font-family: Swiss721BT-Light !important; }
%Swiss721BT-Roman { font-family: Swiss721BT-Roman; }
%Swiss721BT-Italic { font-family: Swiss721BT-Italic; }
%Swiss721BT-Bold { font-family: Swiss721BT-Bold; }
%Swiss721BT-Bold-important { font-family: Swiss721BT-Bold !important; }
%Swiss721BT-Black { font-family: Swiss721BT-Black; }
%Swiss721BT-Medium { font-family: Swiss721BT-Medium; }
 
// Copyright

/* @license
 * MyFonts Webfont Build ID 2590056, 2013-06-27T08:49:50-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Swiss 721 Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/light/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/swiss-721/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/bold/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Black by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/black/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Swiss 721 Medium by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/swiss-721/medium/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Text Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/bold/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Text Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-text/regular/
 * Copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2590056
 * 
 * © 2013 MyFonts Inc
*/
