---
layout: main.tpl
college: lcf
section: single-course
title: BA (Hons) Fashion Design Technology, Womenswear
template: true
---

<div class="content-wrapper">
	<div class="row">
		<nav class="sidebar">
			{% include components/_dropdown-menu.html %}
		</nav>
		<div role="main" class="content">
			<div class="row">
				<div class="text-block">
					<p class="leader">Wimbledon BA Fine Art Painting graduates are a prominent force in the international art world. Driven to forge new possibilities through the material of paint and its relationship to other media, they are characterised by their inventiveness, ambition and professionalism.</p>
				</div>
			</div>

			{% include components/_boxout.html %}

      <!--
      <div class="row slider-container">

        <div id="gallery-1" class="royalSlider rsDefault visibleNearby">
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Still Life: Vase with Twelve Sunflowers<span>Vincent van Gogh</span></a>
            <a class="rsImg" href="http://placehold.it/400x465" data-rsw="400" data-rsh="465">Mona Lisa<span>Leonardo da Vinci</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">American Gothic<span>Grant DeVolson Wood</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">The Night Watch<span>Rembrandt</span></a>
            <a class="rsImg" href="http://placehold.it/640x360" data-rsw="640" data-rsh="360" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE">The Starry Night (with video)<span>Vincent van Gogh</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Girl with a Pearl Earring<span>Johannes Vermeer</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Card Players<span>Paul Cezanne</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Reply of the Zaporozhian Cossacks<span>Ilya Repin</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Chesmabattle<span>Ivan Aivazovsky</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">The Kiss<span>Gustav Klimt</span></a>
            <a class="rsImg" href="http://placehold.it/310x465" data-rsw="310" data-rsh="465">Morning in a Pine Forest<span>Ivan Shishkin</span></a>
        </div>  
      </div>
      -->

      {% include components/_slider-12.html %}

      <!--
      <div class="row">
        <div class="bxslider-content-carousel">
          <h2>Carousel showing 3 slides (move one at a time)</h2>

          <div class="bx-wrapper">
            <div class="bx-viewport">
              <ul class="slider" data-slider-item-width="310" data-slider-item-margin="10" data-slider-min-slides="3"> 
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
                <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
                  <p>This is some text <a href="">for this slide</a></p></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    -->
    <div class="row">

      <div class="boxout ual-black-bg">
  
  
        <h3 class="no-pad-top">5 great reasons to apply</h3>
        
        
        <ul>
          <li>You&rsquo;ll have a choice of five curriculum areas;</span>&nbsp;Fine Art; Performance Design and Practice; Three Dimensional Design and Architecture; Fashion and Textiles; Graphic and Communication Design.&nbsp;<a href="http://www.csm.arts.ac.uk/foundation-art-and-design/#content"><br /><br /></a></li>
          <li>If you want to explore you options, there&rsquo;s a diagnostic pathway option</span>&nbsp;where you can explore all the curriculum areas before making up your mind.</li>
          <li>Most of our students go on to study at degree level</span>at Central Saint Martins or other UAL colleges.&nbsp;<a href="http://www.csm.arts.ac.uk/foundation-art-and-design/#career"><br /><br /></a></li>
          <li><span class="intro">You&rsquo;ll take part in an exhibition at the end of the course,</span>&nbsp;open to the public, family and friends.&nbsp;<a href="http://www.csm.arts.ac.uk/foundation-art-and-design/#structure"><br /><br /></a></li>
          <li><span class="intro">You'll be introduced to a range of materials and methods of working&nbsp;</span>to research and develop your ideas and learn how to evaluate and reflect on your progress. We&rsquo;ll help you to build a portfolio and prepare you for interviews to enter higher education and employment.</li>
        </ul>
      </div>
    </div>  

    <!-- accordion -->
    {% include components/_accordion.html %}


		</div><!-- .main-content -->	
	</div><!-- .row -->
</div><!-- .content-wrapper -->



<div class="panel">
  <div class="content-wrapper">
    <div class="row">
    	<div class="content">
          <h2>Latest News</h2>
          <ul>
            <li>
              <div class="text">
                <p class="title"><a href="" title="">Sub title for list</a></p>
                <p class="date"><strong>21 May 2013</strong></p>
              </div>
            </li>
            <li>
              <div class="text">
                <p class="title"><a href="" title="">Sub title for list</a></p>
                <p class="date"><strong>21 May 2013</strong></p>
              </div>
            </li>
            <li>
              <div class="text">
                <p class="title"><a href="" title="">Sub title for list</a></p>
                <p class="date"><strong>21 May 2013</strong></p>
              </div>
            </li>
          </ul>
    	</div><!-- .content -->
    </div><!-- .row -->
  </div><!-- .content-wrapper -->
</div><!-- .panel -->

<div class="panel bg-gray-bg">
  <div class="content-wrapper">
    <div class="row">
      <div class="content">
        <div class="__gallery  four-up">
          <h2>Four up content gallery (with optional title links)</h2>
          <ul>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
            <li><a class="no-border" href="" title=""><img class="m-hide" src="http://placehold.it/420x420&text=Hall image" alt=""></a>
              <h3><a href="" title="">Hall name</a></h3></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel dark-gray-bg">
  <div class="content-wrapper">
    <div class="row">
      <div class="content">
        {% include components/_gallery-lightbox-showtime.html %}
      </div>
    </div>  

  </div>
</div>

<div class="panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="content">
          <h2>Course Downloads</h2>
          <ul>
            <li class="download">
              <a href="#">Foundation application form (PDF - 273KB)</a>
            </li>
            <li class="download">
              <a href="#">Foundation application form (PDF - 273KB)</a>
            </li>
            <li class="download">
              <a href="#">Foundation application form (PDF - 273KB)</a>
            </li>
          </ul>
      </div><!-- .content -->
    </div><!-- .row -->
  </div><!-- .content-wrapper -->
</div><!-- .panel -->

  		
<!-- navigation object : KIS Widget 
<iframe id="unistats-widget-frame" title="Unistats KIS Widget" src="http://stg.unistats.eduserv.org.uk/Widget.aspx?i=10007162&amp;c=10167&amp;o=vertical" scrolling="no" style="overflow: hidden; border: 0px none transparent; width: 200px; height: 470px;"></iframe>
-->

  		
{% include components/_related-content.html %}  
