<footer class="college-footer row ual-black-bg">
	<div class="footer-wrapper">
		<div class="footer-block left">
			<div class="inner">
				<h3 class="size-h2">Follow Us</h2>
				<ul class="social-icons">
					<li>
					  <a class="btn icon-email ui-icons-transparent-flickr" href="#">Join us on Flickr</a>
					</li>
					<li>
					  <a class="btn icon-twitter ui-icons-transparent-twitter" href="#">Follow us on Twitter</a>
					</li>
					<li>
					  <a class="btn icon-facebook ui-icons-transparent-facebook" href="#">Find us on Facebook</a>
					</li>
				</ul>
		  	</div>
		</div>
		<div class="footer-block middle">
			<div class="inner">
				<h3 class="size-h2">Get a Prospectus</h2>
				<p>The Camberwell, Chelsea and Wimbledon (CCW) 2013-14 prospectus</p>
		  		<ul>
		  			<li class="with-icon ui-icons-transparent-download"><a href="#">Download the PDF (25.7MB)</a></li>
		  			<li class="with-icon ui-icons-transparent-documents"><a href="#">Request a hard copy</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-block right">
			<div class="inner">
				<h3 class="size-h2">Contact Us</h2>
				<!-- see http://html5doctor.com/microformats/ -->
				<ul class="vcard">
					<li class="with-icon ui-icons-transparent-map-pointer">
						<a class="fn org url" href="http://www.fashion.arts.ac.uk/" title="Contact information for London College of Fashion"><span class="organization-name">London College of Fashion</span></a>
					</li>
					<li>
					<span class="adr">
						<span class="street-address">20 John Prince's Street</span>, <span class="locality">London</span>,<br>
						<span class="region">London</span> <span class="postal-code">W1G 0BJ</span> <b class="country">UK</b>
						<br>
					</span>
					</li>
					<li class="with-icon ui-icons-transparent-phone"><span class="tel">Telephone: <span class="value">+44 (0)207 514 7400</span></span></li>
					<li class="with-icon ui-icons-transparent-mail"><a href="mailto:info@fashion.arts.ac.uk">info@fashion.arts.ac.uk</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
