<footer class="college-footer row">
	<div class="footer-wrapper">
		<div class="footer-block left">
			<h3 class="size-h2">Contact Us</h3>
			<!-- see http://html5doctor.com/microformats/ -->
			<ul class="vcard">
				<li class="no-bullet">
					<a href="#" class="fn org url" href="" title="Contact information for Central Saint Martins"><span class="organization-name">Central Saint Martins</span></a>
				</li>
				<li>
				<span class="adr">
					<span class="street-address">Granary Building <br/>1 Granary Square</span>, <span class="locality">Kings Cross</span>,<br>
					<span class="region">London</span> <span class="postal-code">N1C 4AA</span> <span class="country">UK</span>
					<br>
				</span>
				</li>
				<li><span class="tel">Telephone: <span class="value">+44 (0)20 7514 6500</span></span></li>
				<li><a href="mailto:info@communication.arts.ac.uk">info@communication.arts.ac.uk</a></li>
			</ul>
		</div>
		<div class="footer-block middle">
			<h3 class="size-h2">Order a Prospectus</h3>
				<p>Central Saint Martins 2013-2014 prospectus:</p>
				<ul class="no-bullet">
					<li><a href="#">Download the PDF (340kb)</a></li>
					<li><a href="#">Request a hardcopy</a></li>
				</ul>
		</div>
		<div class="footer-block right">
			<h3 class="size-h2">Follow Us</h3>
				<ul class="icons no-bullet">
					<li><a href="https://twitter.com/csminnovation" class="twitter"><span class="icon-fit-text">&#62218;</span></a></li>
					<li><a href="https://en-gb.facebook.com/centralsaintmartins" class="facebook"><span class="icon-fit-text">&#62221;</span></a></li>
					<li><a href="#" class="flickr"><span class="icon-fit-text">&#62212;</span></a></li>
					
					
				</ul>
		</div>
	</div>
</footer>
