 <header class='cf region header'>
  
  <!-- Slide-in menu toggle -->
  <a href="#" id="docs-menu-toggle-btn" class="slide-in-menu-trigger menu-toggle-link">
  <div id="slide-menu-toggle-btn">
    <p>Menu</p>
    <div id="docs-menu-icon" class="ui-icons-transparent-menu-button">
    </div>
  </div>
  </a>
  
<!-- slide in navigation (hidden on page load)  -->

<nav id="slide-in-nav" role="navigation"> 
      <div class="block">
          <ul style="font-weight:lighter; padding: 24px">
              <li>
                  <a href="index2.html" class="ual-white">Home</a>
              </li>
              <li>
                  <a href="#" class="ual-white">Get Started</a>
              </li>
              <li>
                  <a href="#" class="ual-white">Scaffolding</a>
              </li>

              <li>
                  <a href="#tools-block" class="ual-white smooth-scroll">Tools</a>
              </li>
              <li>
                  <a href="#" class="ual-white">Base CSS</a>
              </li>
              <li>
                  <a href="components.html" class="ual-white">Components</a>
              </li>
              <li>
                <a class="ual-white" href="page-layout.html">Page Layout</a>
              </li>
              <li>
                <a class="ual-white" href="headings.html">Headings</a>
              </li>
              <li>
                <a class="ual-white" href="typography.html">Typography</a>
              </li>
              <li>
                <a class="ual-white" href="images.html">Images</a>
              </li>
       <!--  <li>
         <a href="text-container.html">Basic Container H2</a>
       </li>
       <li>
         <a href="text-date.html">Basic Text with Date</a>
       </li>
         <li>
         <a href="introduction-module.html">Introduction Module</a>
       </li>
       <li>
         <a href="gallery.html">Gallery</a>
       </li>
       <li>
         <a href="panel.html">Panel</a>
       </li>
       <li>
         <a href="link-lists.html">Link Lists</a>
       </li>
       <li>
         <a href="box-out.html">Box-out</a>
       </li>
         <li>
         <a href="">Flags</a><span> needs to be done</span>
       </li>
         <li>
         <a href="">Forms</a><span> needs to be done</span>
       </li>
           <li>
         <a href="table.html">Tables</a><span> needs to be done</span>
       </li>
           <li>
         <a href="">Buttons</a><span> needs to be done</span>
       </li>
           <li>
         <a href="">Navigation</a><span> needs to be done</span>
       </li>
             <li>
         <a href="footer.html">Footer</a><span> needs to be done</span>
       </li>
         <li>
         <a href="media.html">Text with Image</a>
       </li>-->

<!--          <li><a href="image-blocks.html">Image blocks (with optional title or aside)</a></li>
 -->
       <!--
      <h3>Layout</h3>
      <ul>
       <li><a href="grid-how-to.html">Grid system</a></li>
       <li><a href="baseline.html">Baseline grid (vertical rhythm) </a><span> needs to be done</span></li>
       <li><a href="containers.html">Containers </a><span> needs to be done</span></li>
      </ul>


      <h3>Blocks</h3>

      <ul class="">
       <li>
         <a href="grid-blocks-two.html">Two-Up</a>
       </li>
         <li>
         <a href="grid-blocks-three.html">Three-Up</a>
       </li>
         <li>
         <a href="grid-blocks-four.html">Four-Up</a>
       </li>
      </ul>
      
      <h3>Misc.</h3>

      <ul>
       <li>
         <a href="colours.html">Global UAL Color Styles</a>
       </li>
         <li>
         <a href="icons.html">Icon</a><span> needs to be done</span>
       </li>
       <li>
         <a href="lazy-load.html">Lazy-Loading Images</a>
       <li>
         <a href="flags.html">Region/culture flags</a><span> needs to be done</span>
       </li>
       <li>
         <a href="visibility.html">Visibilty classes</a><span> needs to be done</span>
       </li>
      </ul>
      -->
      
         <li><a href="accordion.html">Accordion</a></li>
         <li><a href="sliders.html">Sliders</a></li>

      
       <li>
         <a href="widgets-lightboxes.html">Lightboxes</a>
       </li>
         <li>
         <a href="widgets-showtime.html">Showtime Feed</a>
       </li>

          <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
      </div>
</nav> 


</header>



<!-- May 26 - temporarily disabled breadcrumbs while working on new docs styling  -->

<!-- <nav class="breadcrumb content-wrapper">
    <ul>
        <li><a href="{{ site.url }}/docs/">Docs home</a><span class="separator">&gt;</span></li>
          {% if page.breadcrumb  %}
        <li><a href="{{ site.url }}docs/{{page.breadcrumb-link}}">{{page.breadcrumb}}</a></li>
          {% endif %}
    </ul>
</nav> -->

  <div class="header-panel bg-gray-bg">
    <div class="content-wrapper">
      <div class="row">
        <div class="breadcrumbs">
          <a href="index.html">Style Guide index</a><a href="#">{{ page.breadcrumb }}</a>      
        </div> 
        <div class="updated">Last updated: {{ page.last-updated }}</div>
      </div>
      <div class="row">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
