<!-- Image credits div -->
<div class="credits-btn">
  <a href="#" class="show-credits" title="show image credits">
   <!--  <ul class="no-bullet"> -->
      <!-- <li><span class="icon-info"></span></li> -->
     <!--  <li><span class="icon-picture"></span></li> -->
      <!-- <li><span class="icon-pencil"></span></li> -->
   <!--  </ul> -->
    <span class="icon-picture"></span>
  </a>
</div>

<!-- start footer -->
<footer class='global-footer row'>
  <div class="footer-wrapper">
    <div class="row">
      <div class='footer-links'>
        <ul class='footer-col-1'>
          <li>
            <a href='#'>Accessibility</a>
          </li>
          <li>
            <a href='#'>FOI</a>
          </li>
          <li>
            <a href='#'>Privacy &amp; Cookies</a>
          </li>
          <li>
            <a href='#'>Disclaimer</a>
          </li>
        </ul>

        <ul class='footer-col-2'>
          <li>
            <a href='#'>Sitemap</a>
          </li>

          <li>
            <a href='#'>Charitable Status</a>
          </li>
          <li>
            <a href='#'>Give to UAL</a>
          </li>
          <li>
            <a href='#'>Work at UAL</a>
          </li>
        </ul>

        <ul class='footer-col-3'>
          <li>
            <a href='#'>Showtime</a>
          </li>

          <li>
            <a href='#'>Log in to My.Arts</a>
          </li>
          <li>
            <a href='#'>UAL Edit</a>
          </li>
        </ul>
        <div class="social-links">
          <h3>Connect with UAL:</h3>
          <ul>
            <li><a href="https://twitter.com/UniArtsLondon" title="UAL on Twitter"><span class="footer-ico icon-twitter"></span></a></li> 
            <li><a href="https://www.facebook.com/UniversityoftheArtsLondon" title="UAL on Facbook"><span class="footer-ico icon-facebook"></span></a></li>
            <li><a href="http://www.youtube.com/user/universityartslondon" title="UAL on YouTube"><span class="footer-ico icon-youtube"></span></a></li>
            <li><a href="#" title="UAL on Flickr"><span class="footer-ico icon-flickr"></span></a></li>
          </ul>
        </div>
      
      <div class='copyright'>
        <p>&copy; <?php echo date("Y") ?> University of the Arts London All Rights Reserved</p>
      </div>
      
    </div>
  </div>
  
  <div class="back-to-top m-hide t-hide"><a href="#"><span>&uarr;</span> back to top</a></div>
  
</footer>

<footer class="row white-bg hide">
    <div class="content-wrapper">
        <a href="#" class="open-close debug-toggle"><span>&darr;</span> Open Debug panel</a>
        <!-- debug -->
        <ul id="debug">
          <li>Channel base uri:</li>
          <li>Channel base description:  This channel is used to publish the BETA UAL Website.</li>
          <li>Channel base id:  18</li>
          <li>Channel base name:  Beta UAL Website</li>
          <li>Page created : Wed 12 Jun 2013 03:03:20</li>
          <li>Page modified : Mon 17 Jun 2013 05:38:13</li>
          <li> Section id : 35297 
          <!-- navigation object : Section id -->
        </li>
      </ul>
        <!-- end debug -->
    </div>

</footer>