<footer class="college-footer row soft-black-bg">
	<div class="footer-wrapper">
		<div class="footer-block left">
			<h3 class="size-h2">Get In Touch</h3>
			<!-- see http://html5doctor.com/microformats/ -->
			<ul class="vcard">
				<li class="no-bullet">
					<a class="fn org url" href="" title="Contact information for London College of Fashion"><span class="organization-name">London College of Fashion</span></a>
				</li>
				<li>
				<span class="adr">
					<span class="street-address">20 John Prince's Street</span>, <span class="locality">London</span>,<br>
					<span class="region">London</span> <span class="postal-code">W1G 0BJ</span> <span class="country">UK</span>
					<br>
				</span>
				</li>
				<li><span class="tel">Telephone: <span class="value">+44 (0)20 7514 6500</span></span></li>
				<li><a href="mailto:info@fashion.arts.ac.uk">info@fashion.arts.ac.uk</a></li>
			</ul>
		</div>
		<div class="footer-block middle">
			<h3 class="size-h2">Get a Prospectus</h3>
				<p>The London College of Fashion (LCF) 2013-2014 prospectus:</p>
				<ul class="no-bullet">
					<li><a href="#">Download the PDF (340kb)</a></li>
					<li><a href="#">Request a hardcopy</a></li>
				</ul>
		</div>
		<div class="footer-block right">
			<h3 class="size-h2">We're Social</h3>
				<ul class="icons no-bullet">
					
					<li><a href="https://twitter.com/LCFLondon" class="twitter"><span class="icon-fit-text">&#62218;</span></a></li>	
					<li><a href="https://en-gb.facebook.com/LCFOfficial" class="facebook"><span class="icon-fit-text">&#62221;</span></a></li>
					<li><a href="http://www.flickr.com/photos/25035819@N07/galleries/72157623777872591/" class="flickr"><span class="icon-fit-text">&#62212;</span></a></li>
				
				</ul>
		</div>
	</div>
</footer>
