<div id="mega-menu-nav-links" class="main-menu" role="navigation">
  <div class="top-bar">        
      <ul>
          <li> 
            <a data-item="course-finder" href="#">Course Finder</a>
          </li>
          <li>
            <a data-item="college" href="#" title="">Colleges</a>
            <div class="menu"></div>
          </li>
          <li>
            <a data-item="study" href="#" title="">Study at UAL</a>
            <div class="menu"></div>
          </li>
          <li>
            <a data-item="research" href="#" title="">Research</a>
            <div class="menu"></div>
          </li>
          <li>
            <a data-item="careers" href="#" title="">Student Jobs &amp; Careers</a>
            <div class="menu"></div>
          </li>
          <li>
            <a data-item="alumni" href="#" title="">Alumni &amp; Friends</a>
            <div class="menu"></div>
          </li>
          <li>
            <a data-item="business" href="#" title="">Business &amp; Innovation</a>
            <div class="menu"></div>
          </li>
          <li>
            <a data-item="about" href="#" title="">About UAL</a>
            <div class="menu"></div>
          </li>
          <li>
            <!--  <a data-item="search" href="#" class="search"></a> -->
           
          </li>
      </ul>
       <div id="sb-search" class="sb-search">
        <form>
          <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
          <input class="sb-search-submit" type="submit" value="">
          <span class="sb-icon-search "></span>
        </form>
      </div>  
  </div>
  
</div>
<div class="mobile-course-finder">
<div class="wrapper">
<form>
<input class="course-finder-txt-input" type="text" required placeholder="search courses">

<div class="m-go-search-btn"> 
<a>Go test</a>
</div>
</form>
</div>
</div>

<div class="mobile-search">
<div class="wrapper">
<form>
<input class="site-search-input" type="text" required placeholder="mobile search">

<div class="m-go-search-btn"> 
<a>Go test</a>
</div>
</form>

</div>
</div>

<div class="menu-contain-wrap">
<div id="new-menu" class="row dark-gray-bg">    
<div id="desktop-menu-wrap" class="header-wrapper"> 
<div class="submenu">

<!-- college -->
<div data-menu="college" class="region">
<h2>
<a href="{{ site.url }}/content/colleges/">Colleges</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span>
</h2>
<div class="sub-inner-menu">      

<ul class="subnav-1 region">
<li>
<a href='{{ site.url }}/content/colleges/camberwell/' title='Visit Camberwell College of Arts'>Camberwell College of Arts</a>
</li>
<li>
<a href='{{ site.url }}/content/colleges/csm/' title='Visit Central Saint Martins'>Central Saint Martins</a>
</li>
<li>
<a href='{{ site.url }}/content/colleges/' title='Visit Chelsea College of Art and Design'>Chelsea College of Art and Design</a>
</li>
<li>
<a href='{{ site.url }}/content/colleges/' title='Visit London College of Communication'>London College of Communication</a>
</li>
</ul>

<ul class="subnav-2 region">
<li>
<a href='{{ site.url }}/content/colleges/' title='Visit London College of Fashion'>London College of Fashion</a>
</li>
<li>
<a href='{{ site.url }}/content/colleges/' title='Visit Wimbledon College of Art'>Wimbledon College of Art</a>
</li>
</ul>

</div>
<div class="feature-image m-hide t-hide" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
</figure>
</a>
</div>
</div>

<!-- studying -->
<div data-menu="study" class="row region">
<h2>
<a href="#">Study at UAL</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span>
</h2>

<div class="sub-inner-menu">      
<ul class="subnav-1 region" >
<li><a href='' title=''>Why UAL</a></li>
<li><a href='' title=''>Open days</a></li>
<li><a href='' title=''>Fees and funding</a></li>
<li><a href='' title=''>Student support</a></li>
</ul>

<ul class="subnav-2 region">
<li><a href='' title=''>Applying and enrolling</a></li>
<li><a href='' title=''>International</a></li>
<li><a href='' title=''>Library</a></li>
<li><a href='' title=''>Learning and teaching</a></li>
</ul>

<ul class="subnav-3 region">
<li><a href='' title=''>Accommodation</a></li>
<li><a href='' title=''>Student union</a></li>
<li><a href='' title=''>Facilities</a></li>
<li><a href='' title=''>Widening participation</a></li>
</ul>
</div>

<div class="feature-image m-hide t-hide region" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
</figure>
</a>
</div>

</div>

<!-- careers -->
<div data-menu="careers" class="row region">
<h2>
<a href="#">Student Jobs &amp; Careers</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span>
</h2>
<div class="sub-inner-menu">              
<ul class="subnav-1 region" >
<li>
<a href='' title=''>Opportunities</a>
</li>
<li>
<a href='' title=''>Events</a>
</li>
<li >
<a href='' title=''>Finding Work</a>
</li>
<li >
<a href='' title=''>Resources</a>
</li>
</ul>

<ul class="subnav-2 region">
<li>
<a href='' title=''>About SEE</a>
</li>
</ul>
</div>

<div class="feature-image m-hide t-hide" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
</figure>
</a>
</div>
</div>

<!-- alumni -->
<div data-menu="alumni" class="row region">
<h2>
<a href="#">Alumni &amp; Friends</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon" >&nbsp;</span>
</h2>
<div class="sub-inner-menu">  
<ul class="subnav-1 region" >
<li><a href='' title=''>Alumni Benefits</a></li>
<li><a href='' title=''>Inspiring Alumni</a></li>
<li><a href='' title=''>Give and Support</a></li>
<li><a href='' title=''>Register your details</a></li>
</ul>
<ul class="subnav-2 region" >
<li><a href='' title=''>Stay Connected</a></li>
<li><a href='' title=''>Contact Us</a></li>
</ul>
</div>

<div class="feature-image m-hide t-hide" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
</figure>
</a>
</div>
</div>

<!-- Research -->
<div data-menu="research" class="row region">
<h2>
<a href="#">Research</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon">&nbsp;</span>
</h2>

<div class="sub-inner-menu">  
<ul class="subnav-1 region" >
<li>
<a href='{{site.url}}/content/research/research-environment/' title=''>Research Environment</a>
</li>
<li>
<a href='{{site.url}}/content/research/research-degrees/' title=''>Research Degrees</a>
</li>
<li>
<a href='{{site.url}}/content/research/research-staff/' title=''>Research Staff</a>
</li>
</ul>
</div>

<div class="feature-image m-hide t-hide" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt"></figure>
</a>
</div>
</div>

<!-- Business -->
<div data-menu="business" class="row region">
<h2><a href="#">Business &amp; Innovation</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon">&nbsp;</span></h2>

<div class="sub-inner-menu">  
<ul class="subnav-1 region" >
<li>
<a href='{{site.url}}/content/research/research-environment/' title=''>Research Environment</a>
</li>
<li>
<a href='{{site.url}}/content/research/research-degrees/' title=''>Research Degrees</a>
</li>
<li>
<a href='{{site.url}}/content/research/research-staff/' title=''>Research Staff</a>
</li>
</ul>
</div>

<div class="feature-image m-hide t-hide" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
</figure>
</a>
</div>
</div>

<!-- About UAL -->
<div data-menu="about" class="row region">
<h2><a href="#">About UAL</a><span class="d-hide ui-icons-transparent-plus menu-open-closed-icon">&nbsp;</span></h2>
<div class="sub-inner-menu">  
<ul class="subnav-1 region" >
<li><a href='' title=''>News</a></li>
<li><a href='' title=''>Events Calendar</a></li>
<li><a href='' title=''>Our History</a></li>
<li><a href='' title=''>Invest in the Future</a></li>
</ul>
<ul class="subnav-2 region">
<li><a href='' title=''>Press Office</a></li>
<li><a href='' title=''>Charitable Status</a></li>
<li><a href='' title=''>Governance and Policy</a></li>
<li><a href='' title=''>Administrative</a></li>
</ul>
<ul class="subnav-3 region">
<li><a href='' title=''>Staff Directory</a></li>
<li><a href='' title=''>Contact UAL</a></li>
</ul>
</div>

<div class="feature-image m-hide t-hide" >
<a href="#" title="Link title">
<figure>
<img src="http://placehold.it/300x200&text=4+cols" alt="Image Alt">
</figure>
</a>
</div>
</div>

<!-- Desktop - Search and Course Finder dropdowns -->
<div data-menu="search" class="d-search-menu-panel row">
<div class="relative"> 
<form class="d-search-input-form">
<input class="site-search-input" type="text" required placeholder="Enter your search here">
<div class="d-go-search-button">
<a>Go</a>
</div>
</form>
</div>
</div> 

<div data-menu="course-finder" class="d-course-finder-menu-panel row">
<div class="relative">
<form class="d-search-input-form">
<input class="course-finder-txt-input" type="text" required placeholder="Search for a course here">
<div class="d-go-search-button"> 
<a>Go</a>
</div>
</form>

</div>
</div>     
</div>
</div>




</div> 
</div>



</div>