---
layout: style.tpl
title: Components
last-updated: August 04, 2013
class-home: docs
breadcrumb: Components
breadcrumb-link: /components/
---
<section class="cf">
  <div class="content-wrapper">
    <div class="row">
    <div role="navigation" class="sidebar">
      <ul>
        <li><a href="#sliders" title="">Sliders</a></li>
      </ul>
    </div> <!-- end sidebar -->
    <div role="main" class="content">
        <div class="l-content block __text">
          <h2 class="heading-x2 soft-black">A list of the components currently available to be used for UAL.</h2>
          <hr>
          <p class="leader">
            <a href="https://twitter.com/artslondondev">@artsdevlondon</a> have put together a library of responsive components that can be used on any webpage under the arts.ac.uk domain.
          </p>
          <p>All library components are responsive ... or they should be lol.</p>
        </div> <!-- end .l-content block __text -->
      </div> <!-- end .content -->
    </div> <!-- end .row -->
  </div> <!-- end .content-wrapper -->
</section>
<section id="sliders">
  <div class="content-wrapper">
    <div class="row">
      <h2>Full-width overflow slider</h2>
    </div>
  </div>

  <!-- feature carousel -->
  {% include components/_carousel.html %}

  <section class="gists margin-top-4x">
    <div class="content-wrapper">
      <div class="row">
        <div class="l-content-fullwidth">
          <p> We use <a href="http://dimsemenov.com/plugins/royal-slider/">Royal Slider</a> for managin our full width sliders.</p>
          {% gist 6172527 %}
        </div>
      </div>
    </div>
  </section>
  
  <div class="content-wrapper">
    <div class="row">
      <h2>Full-width contained slider</h2>
    </div>
    <div class="row slider-container">
      <div class="royalSlider contentSlider rsDefault  block" data-slider-item-width="1280" data-slider-item-height="480">
        <figure>
              <img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-1.jpg" alt="some alt text" />
              <figcaption class="rsCaption">1280 x 480</figcaption>
          </figure>
          <figure>
              <img class="rsImg" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="some alt text" />
              <figcaption class="rsCaption">1280 x 480</figcaption>
          </figure>
      </div>
    </div><!-- .slider-container -->


    <div class="row">

      <div role="main" class="content">

        <div class="row">
          <h2>slider 12 #1</h2>
        </div>
        <!-- text block -->
        {% include components/_slider-12.html %}

        <div class="row">
          <h2>slider 12 #2</h2>
        </div>
        <!-- text block -->
        {% include components/_slider-12.html %}

        <div class="row">
          <h2>slider 8</h2>
        </div>
        <div class="row">
          <div class="l-content-full-width  block  __media  __with-aside">
            {% include components/_slider-8.html %}
          </div>
        </div>

        <!-- csm blocks -->
        {% include components/_image-wall.html %}

        <!-- accordion -->
        <div class="row">
          {% include components/_accordion.html %}
          <p>More information: <a href="../accordion.html">accordion component page</a></p>
        </div>


      </div><!-- end main-content -->
    </div><!-- end row -->
    
    

  </div><!-- end content wrapper -->
</section>

    