.courses-2x6 {
	ul {
		li {
			background: $bg-gray;
			overflow: hidden;
			margin-bottom: 48px;
			ul {
				width: 100%;
				li {
					font-size: emCalc(24px);
					padding: 24px;
					margin-bottom: 0;
				}
			}		
		}	
	}

	@include gs-media(t, min-max) {
		@include gs-span(t, 2, 7);
		ul {
      width: gs-width(t, 2, 4, (2, 7), true);
      @include gs-float(t, left, (2, 7));
			&:nth-of-type(2) {
				margin-right: 0; 
			}		
		}
		h2, p {
			padding: 24px;
		}
	}
	@include gs-media(d) {
		@include gs-span(d, 5, 16, (5, 16));
		ul {
      width: gs-width(d, 5, 10, (5,16), true);
      @include gs-float(d, left, (5,16));
			&:nth-of-type(2) {
				margin-right: 0; 
			}		
		}
		h2, p {
			padding: 24px;
		}
	}
}