.search-results-wrap {
  @include padding-leader(8);
  @include padding-trailer(8);
  clear: left;
}

.search-results {
  @extend %d5-d16;
  
  h2 {
    padding-top: 0;
  }
  h3 {
    @include adjust-font-size-to (18px);
    margin-top: 0;
    padding-top: 0;
  }

}

.search-results-list {
  margin-left: 0;
  clear: left;
}

.search-results-list > li {
  list-style: none;
}

.search-button {
  height: 70px;
  width: 70px;
  float:left;
  background-color: black;
}

// main course / search title in search results list
.course-details > h3, .search-details > h3 {
  color: black;
  font-weight: bold;
  @include adjust-font-size-to (16px);
}

.search-results input:focus {
  outline:none;
}

.search-input-wrap {
  background: white;
  margin-bottom: 24px;
  border: 6px solid white;
  height: 60px;

  .icon-search,
  .search-submit  {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 48px;
    @include font-size(16);
    text-align: center;
    cursor: pointer;
    // @include gs-media(d, min-max) {
    //   height: 36px;
    //   // width: 36px;
    //   min-width: gs-width(d, 16, 16, (1, 16), true) + 1;
    //   line-height: 36px;
    // }
  }

  .icon-search {
    @extend %icon;
    color: $white;
    background-color: $black;
    z-index: 90;
    @include font-size(24);
    speak: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @include gs-media(d, min-max) {
      @include font-size(24);
    }

  }

  .icon-search:hover {
    background-color: $dark-gray;
  }
}

.course-search-form, .site-search-form {
  position: relative;
  width:100%;
  margin-bottom: 0;
  padding:0;
  input { 
    margin-left: 0; 
    margin-bottom: 0;
    padding-left: 6px;
    height: 48px;
  }
  @include gs-media(d) {
     input { 
         padding-left: 12px;
     }
  }
}

.course-finder-input, .site-search-results-input {
  @include single-transition();
  height: 48px;
  width: 100%;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid $bg-gray;
  margin-left: 12px;
  background-color: rgba(255,255,255, 0);
  box-shadow: none !important;
  @include adjust-font-size-to (16px);

  @include gs-media(t, min-max) {
    margin-left: 12px;
    @include adjust-font-size-to (14px);
  }
  @include gs-media(m, min-max) {
    max-width: 90%;
    width: 90%;
    margin-left: 0;
    padding-left: 6px;
    @include adjust-font-size-to (12px);
  }

  &::-webkit-input-placeholder {
   color: $light-gray; 
  }

  &:-moz-placeholder { /* Firefox 18- */
   color: $light-gray; 
  }

  &::-moz-placeholder {  /* Firefox 19+ */
   color: $light-gray;   
  }
  
  &:-ms-input-placeholder {  
   color: $light-gray;   
  }
  
  &:focus {
    &::-webkit-input-placeholder {
     color: $aaa-gray; 
    }
    &:-moz-placeholder { /* Firefox 18- */
     color: $aaa-gray; 
    }
    &::-moz-placeholder {  /* Firefox 19+ */
     color: $aaa-gray;   
    }
    &:-ms-input-placeholder {  
     color: $aaa-gray;   
    }
  }
}

.search-again-submit {
  font-family: 'fontello'; 
  color: $white; 
  @include font-size(20); 
  line-height: 20px;
}

.search-link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: black;
  height:48px;
  width: 48px; 
  a {
    border-bottom: 0;
  }
}



input, .search-result-module, .search-input-wrap {
  -webkit-transition: -webkit-box-shadow 450ms;
  -moz-transition: -moz-box-shadow 450ms;
  -o-transition: -o-box-shadow 450ms;
  transition: border 450ms ease;
  border: 6px solid rgba(0,0,0,0);
}

.search-gray-border {
  border: 6px solid $light-gray ;
}

.search-bg-gray-border {
  border: 6px solid $bg-gray ;
}


.search-input-wrap, .search-input-wrap, .search-result-module, .search-result-module:focus {
  @extend .search-bg-gray-border;
  
}


.search-input-wrap:hover, .search-input-wrap:focus, .search-result-module:hover, .search-result-module:focus {
  @extend .search-gray-border;
  
}

.search-result-module {
  position: relative;
  background-color: $bg-gray;
  min-height: 138px;
  height: auto;
  padding: 24px;
  padding-bottom: 60px;
  @include margin-trailer (4);

  h3 {
    padding-top: 0;
  }
}

.search-results-summary {
  
  @extend %d6-d16--within-d6-d16;
  
  @include gs-media (d, min-max) {
    min-height: 60px;
    position: relative;
  }
  
  @include gs-media (t, min-max) {
    min-height: 60px;
    position: relative;
  }

  @include gs-media (m, min-max) {
    min-height: 120px;
    @include margin-trailer (3);
  }

}


.search-results-info {
  
  p {
    @extend .size-h3;
    font-weight: 300;
    margin-bottom: 0;
    // @include margin-trailer(2);
  }

  @include gs-media (d,min-max) {
    @include gs-span(d,6,13,(6,16));
    p { padding-top: 2px; }
  }

  @include gs-media (t,min-max) {
    @include gs-span(t,1,4);
    p { padding-top: 0; }
  }

  @include gs-media (m,min-max) {
    p { padding-top: 0; }
  }
}


.lower-search-results-info {
  @extend .search-results-info;
  p {
    @include font-size(18);
    
  }
  @include gs-media (d,min-max) {
    @include gs-span(d,6,11,(6,16));
    position: relative;
    padding-top: 18px;
  }

}


.search-pagination-btns {

    text-align: right;
    a { 
      display: inline-block;
      position: relative;
      min-width: 2em;
      &::first-of-type {
        margin-right: 1px; 
      }

      &.left-arrow, &.right-arrow {
        @extend .button-link;
        @extend .icon;
      }
      &.left-arrow:after, &.right-arrow:after {
        position: absolute;
        left: rhythm(2, 14px); 
        top: rhythm(1.5, 14px);
      }

      &.left-arrow:after {
        content: '\e802';
      }

      &.right-arrow:after {
        content: '\e800';
      }
      

    }
  
    a.view-all {
      @extend %Swiss721BT-Light-important;
      @include font-size(16);
      min-width: 5em;
      width: auto;
      padding-right: 12px;
      padding-bottom: 6px;
      line-height: 36px;
      text-decoration: none;
      border-bottom: 0;
      @include gs-media (d) {
        height: 36px;
      }

    }

    @include gs-media (d,min-max) {
      @include gs-span(d,13,16,(6,16));
      // position: absolute;
      // top: 0;
      // margin-right: rhythm(3, 14px);
      @include margin-trailer(2);
    }

    @include gs-media (t,min-max) {
      @include gs-span(t,5,8);
      position: absolute;
      top: 6px;
    }

    @include gs-media (m,min-max) {
      text-align: left;
      margin-top: rhythm(2, 14px);
    }
  }

.lower-search-pagination-btns {
  @extend .search-pagination-btns;
  @include gs-media (t, min-max) {
    // text-align: right;
  }
  @include gs-media (d) {
      @include gs-span(d,13,16,(6,16));
      // text-align: right;
      position: absolute;
  }

}

.course-title, .search-title {
  display: block;
  width: 32%;
  float: left;
  
  h3 {
    text-decoration: none;
    // font-size: 18px;
    margin-top: 0;
    padding: 0 0 1px 0;
    a { 
      @include hyphenation;
      text-decoration: none; }
  }
  
  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
  }  

  
}
.course-description, .search-description {
  
  width: 60%;
  float: left;
  margin-left: 18px;
  p {
    
    padding-top: 0;
  }

  @include gs-media (t,min-max) {
    width: 64%;
  }

  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
    margin-left: 0;

    p {
      padding-left: 0;
      padding-right: 0;
      @include margin-leader(4);
      @include margin-trailer(4);
    }
  
  }  
}

.search-results-lower-wrap {
  position: absolute;
  bottom: 20px;
  left:0;
  padding-left: 25px;
  width: 100%;
  min-height: 18px;
  @include gs-media (m,min-max) {
    font-size: emCalc(14px);
  }
}

.site-search-results-lower-wrap {
  @extend .search-results-lower-wrap;
  right: 0;
}

.lower-search-again-box {
  clear: left;
  @include margin-leader(4);


  .icon-search,
  .search-submit  {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    @include font-size(16);
    text-align: center;
    cursor: pointer;
    // @include gs-media(d, min-max) {
    //   height: 36px;
    //   // width: 36px;
    //   min-width: gs-width(d, 16, 16, (1, 16), true) + 1;
    //   line-height: 36px;
    // }
  }

  .icon-search {
    @extend %icon;
    color: $white;
    background-color: $black;
    z-index: 90;
    @include font-size(24);
    speak: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @include gs-media(d, min-max) {
      @include font-size(24);
    }

  }

  .icon-search:hover {
    background-color: $dark-gray;
  }

}



.enrolment-type, .result-file-type { 
  width: 32%;
  float: left;
  @include font-size(14);
  @include gs-media (m,min-max) {
    width: 100%;
    clear:left;
    @include font-size(14);
  }
}

.site-search-section-name {
  @include font-size(14);

}
.college-name {
  position: absolute;
  left: 32%;
  width: 60%; 
  @include font-size(14);
  margin-left: 10px;
  @include gs-media (m,min-max) {
    position: static;
    width: 100%;
    clear: left;
    @include font-size(14);
    margin-left: 0;
  }
}

.result-url {
  position: absolute;
  left: 32%;
  width: 60%;  
  margin-left: 10px;
  float: right;
  @include font-size(14);
  margin-left: 10px;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  
  @include gs-media (m,min-max) {
    display: none; // need to find a mobile solution for this
    width: 100%;
    margin-right: 0;
    clear: left;
    @include font-size(14);
    margin-left: 0;
  }
    
}

.no-results-found {
  text-align: center;
  margin: 0 auto;
}

.ui-autocomplete {
  z-index: 1000;
  float: left;
  display: none;
  position: relative;
  left: 0 !important;
  top: 23px;
  list-style: none;
  background-color: #ffffff;
  padding-left: 18px;

  .header-wrapper & {
    background-color: $dark-gray;
    li a {
      color: $white;
      font-size: emCalc(24px);
    }
  }

  li {
    @include border-image-dot();
  }

  .ui-menu-item > a.ui-corner-all {
    display: block;
    clear: both;
    white-space: nowrap;
    border-bottom: 0;
 
    &.ui-state-hover, &.ui-state-active {
      color: $soft-black;
      text-decoration: none;
      background-color: $bg-gray;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none !important;
  position: relative;
  top: -20px;
}

// used for exclamation mark icon and question mark icon on no results found page
.warning-icon {
  @extend %icon;
  @include font-size(90);
  line-height: 120px;
  padding: 24px;
  color: $aaa-gray;
  &:after {
    content: '\e839';
  }
}

.question-icon {
  @extend .warning-icon;
  &:after {
    content: '\e838';
  }
}


form.d-search-input-form {
  margin: 0;
  padding: 0;

}