.date-box {
	padding: 0;
	position: absolute;
	top: 0;
	width: 48px;
	text-align: center;
	.day {
		float: left;
		background: $black;
		color: $white;
		width: 100%;
		padding: 10px 0 8px 0;
	}
	.month {
		float: left;
		background: $bg-gray;
		color: $black;
		width: 100%;
		font-size: emCalc(14px);
		padding: 4px 0 2px 0;	
	}
}
