.ual-header {
  @extend .ual-black-bg;

  @include gs-media(d, min-max) {
    height: rhythm(26, 16px);
  }
}

.main-nav-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: black;
  
  // @include gs-media(t, min-max) {
  //     width: 100%;
  //     max-width: 100%;
  //     padding-left: 0;
  //     padding-right: 0;
  // }
  
  // @include gs-media(m, min-max) {
  //     width: 100%;
  //     max-width: 100%;
  //     padding-left: 0;
  //     padding-right: 0;
  // }

}
