
img {
	.csm & {
		border-bottom: 2px solid $csm-primary;
	}
	.csm.college.home & {
		border-bottom: 0px;
	}
	.lcc & {
		border: 4px solid $black;
	}
	.lcc .royalSlider {
		border: 0 none;
	}
	a & {
		padding-bottom:0;
		border-bottom:none;
	}
}


// Add width 100% for Resrc.it loading
.resrc {
	width: 100%;
}