nav.main-nav {
	font-size: emCalc(14px);
	
	ul {
		margin: 0;
		padding: 0;
		padding: rhythm(3, 20px) 0 rhythm(2, 14px) 0; 	
	}
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-block;
		padding-right: rhythm(3, 14px); 	
	}
	li:first-child {
		padding-left: rhythm(3, 14px); 	
	}
	a {
		color: $white;
		border-bottom: none;
		&:hover {
			border-bottom: none;
		}
	}
}