.map-block {
	@include gs-media(t,min-max) {
		@include gs-span(t,2,7);
	}
	@include gs-media(d) {
		@include gs-span(d, 5, 16, (5, 16));
		.map {
	    width: gs-width(d, 5, 10, (5,16), true);
      @include gs-float(d, left, (5,16));
			padding-top: rhythm(4, 16px);
    }
		.map-info {
	    width: gs-width(d, 11, 16, (5,16), true);
      @include gs-float(d, left, (5,16));
      margin-right: 0;
		}
	}
}

// Google maps styling overrides
.gmnoprint img {
    max-width: none !important;
}
.gm-style img {
  max-width: none !important;
}
