.search-widget {
  display: block;
  position: relative;
  height: 36px;
  padding: 10px;
  background-color: $dark-gray;
  margin-top: 24px;
  margin-bottom: 36px;
  //@include margin-leader(24);
  //@include margin-trailer(36);
  @include border-radius(2px);
}

.search-widget .search-widget-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;  // this may need to be set larger on wider inputs
  border: 0;
  padding-top: 0px;
  padding-left: 10px;
  margin-bottom: 0px;
  color: white;
  background-color: rgba(0,0,0,0);
  background-color: transparent;
}

.search-icon-btn {
  display: block;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 7px 6px 6px 6px;
  border-bottom: 0;
  @include transition-property(background-color);
  @include transition-duration(0.2s);
  @include font-size(22);

  &:hover {
    background-color: $bg-gray;
    border-bottom: 0;
  }

  &:hover .icon-search {
    color: black;
    border-bottom: 0;
  }
}

.search-icon-btn .icon-search {
  color: white;
  border-bottom: 0;
  @include transition-property(background-color);
  @include transition-duration(0.2s);
  &:hover {
    color: black;
  }
}

