.text-block-with-image {
	margin-bottom: 48px;
	figure {
		margin-bottom: 24px;
	}
	@include gs-media(t,min-max) {
		@include gs-span(d, 2, 7, (1, 8));
	}
	@include gs-media(d) {
		@include gs-span(d, 5, 16, (5, 16));
		h2, .content {
      width: gs-width(d, 5, 12, (5, 16), true);
		}
	}
}