// add optional title

.two-column-text {
	@include component-spacing-bottom;

	// lists just like sidebar
	ul li {
		padding-bottom: 0;
		a {
			@include font-size(14);
			@extend %Swiss721BT-Light;
			display: block;
			border-bottom:1px dotted $light-gray;
			line-height:36px; 
			&:hover {
				background:$bg-gray;
				color:$black;
			}
		}
	}

	@include gs-media(t,min-max) {
		@include gs-span (t,2,7);
	}

	@include gs-media(d) {
		li {
			@include gs-float(d, left, (5,16));
			width: gs-width(d, 5, 10, (5,16), true);
			&:nth-child(even) {
	    		margin-right: 0;
			}
		}
	}

}