/* ::Grid styles - using CSS files css/grid and css/grid-feature */
/* ------------------------------------------------------------ */

// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------

/* ::Global styles */
/* ------------------------------------------------------------ */
@import "compass";
@import "globals/gridset";
@import "globals/gridset-utilities";
@import "globals/variables";
@import "globals/mixins";
@import "globals/colors";
@import "globals/utilities"; 
@import "compass/layout.scss";
@import "font-face/swiss-721";

// @include sticky-footer(72px, ".content-wrapper", "#layout_footer", "#footer");
 

.docs {
  .updated {
    font-size: 12px;
    line-height: 16px;
    color: white;
    position: fixed;
    top: 12px;
    right: 46%;
    color: $white;
  }
  .gist-container {
    @include gs-media (t,min-max) {
      @include gs-span(t,all);
    }

    @include gs-media (d,min-max) {
      @include gs-span(d,all);
    }
    td {
      text-align: left;
    }
}

.docs-menu {
  padding-top: 12px;
  li {
    display: inline;
    float: left;
    margin-right: 16px;
    line-height: 42px;
  }
}

// Docs page intro section styling
p.docs-intro{
  font-weight: lighter;
  @include adjust-font-size-to(42px);

}

.docs-intro-nav {
  
  li a {
    font-weight: 300;
    border-bottom: 1px dotted ;
    margin-right: 12px;
    // make link transitions smoother
    transition: all 0.25s;
    @include prefixer ('transition', 'all 0.25s'); 
    
    // transition: all 0.25s;
    // -webkit-transition: all 0.25s;
    // -khtml-transition: all 0.25s;
    // -moz-transition: all 0.25s;
    // -o-transition: all 0.25s;
    margin-bottom: 12px;
    &:hover {
      color: $aaa-gray;
    }
  }

}

.git-twitter-btns-list {
  height: 30px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  ul {
    margin-bottom: 0;
 
    li {
        margin-right: 12px;
    }
  }
}


.docs-section-links-nav {
   li a {
    font-weight: 300;
    margin-right: 12px;
    // make link transitions smoother
    transition: all 0.25s;
    @include prefixer ('transition', 'all 0.25s'); 
    
    margin-bottom: 12px;

    .section-link {
      @include adjust-font-size-to(36px); 
      line-height: 42px;
      font-weight: lighter;
      border-bottom: 1px dotted $aaa-gray;
    }
  }

  p {
     @include adjust-font-size-to(16px); 
     line-height: 24px;
     font-weight: lighter;
     color: $soft-black;
     @include margin-trailer(10);

  }
  
}

.breadcrumb {
  @include padding-leader(3);
  clear:both;
  ul {
    padding-left: 0;
    li {
      list-style:none;
      display:inline;
      float:left;
      margin-right:1em;

    }
  }
  .separator {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url("/beta/assets/img/breadcrumb-separator.png") center 5px no-repeat;
    width: 33px;
    vertical-align: bottom;
  }
}

  .header {
    background:black;
    // width:100%;
    // @extend .clearfix;
    @include padding-leader(0);
    border-top: 6px solid #000000;

      h1, h2, h3, h4, h5, h6, p {
                    color:white;
         a {
            color:white;
            border:none;
         }

      }

    @include gs-media(m, min-max) {
      padding-top: 0px;
      border-top:0px;

    }


  }
}

a span.title {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}



//
// Docs Menu Styling //
//

.slide-in-menu-trigger  {
  border-bottom: 0;
  &:hover { 
    border-bottom: 0;
  }
}

.menu-toggle-link {
  position: absolute;
  top: -66px; // WTF ??  can't see why this is getting pushed down the page
  right: -42px;
  height: 60px;
  width: 80px;
  z-index: 99999;
  
  p {
    display: none;
  }

  .ui-icons-transparent-close {
    right: -36px !important; // move icon right when menu is expanded
  }

}

.docs-menu-toggle {
  font-size: emCalc(54px);
  line-height: emCalc(54px);
}

// slide in navigation list id
#slide-in-nav {
  display: none; // hide at start
  background-color: black;
  > ul li {
    width: 100%;
    border-bottom: 1px dotted $bg-gray;
  } 

  > ul li a {
    color: white;
  }
  
}

// styles for the slide in panel and menu

#jPanelMenu-menu {
   background-color: $black;
}
.jPanelMenu-panel {
  background-color: $black;
}


#jPanelMenu-menu ul {
    margin-top: 86px;
    width: 100%;
  }

#jPanelMenu-menu ul li {
  padding:6px;
  border-bottom: 1px dotted #444;
}

.jPanelMenu-panel {
  /*background-color: $black;*/
}


// New added styles
// four up content gallery (with optional title links)
// .four-up {
//   li {
//     padding: 0;
//     margin-bottom: 24px;
//     background: none;
//     h3 {
//       padding: 12px 24px 24px 24px;
//     } 

//     p {
//       padding: 0;
//     }
//   }

//   @include gs-media(t,min-max) {
//     @include gs-span(t,2,7);
//     li {
//       width: gs-width(t, 2, 3, (2,7), true);
//       @include gs-float(t, left, (2,7));
//       &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(9), &:nth-of-type(12) {
//         margin-right: 0;
//       }
//     }
//   }
//   @include gs-media(d) {
//     @include gs-span(d, all);
//     li {
//       width: gs-width(d, 1, 4, false, true);
//       &:nth-of-type(4), &:nth-of-type(8), &:nth-of-type(12), &:nth-of-type(16) {
//         margin-right: 0;
//       }
//     }
//   }
// }

$base_grey_docs :#757275 ;

.docs_grey_bg {
  background: $base_grey_docs;
    color: white;
  a {
      color: white;
  }
}

.docs_grey_darken_bg {
  background: darken($base_grey_docs, 10%);
  color: white;
  a {
      color: white;
  }
}

.docs_grey_darken_20_bg {
  background: darken($base_grey_docs, 20%);
  color: white;
  a {
      color: white;
  }
}

.docs_grey_lighten_80_bg {

  background: lighten($base_grey_docs, 50%);

  a {
  
  }
}

.docs-menu {
padding-top:12px;
  ul {
    li {
      display:inline;
      float:left;
      margin-right:16px;
      height: 54px;
      line-height:24px;
    }

    li a:hover {
      border-bottom: 1px solid $white;
    }
  }

}

i.docs {
  font-size: 5em;
  position: relative;
  top: 16px;
}


.mobile-menu {
  position: relative;
  float: right;
  top: 10px;
}

footer.docs {
  overflow:hidden;
  margin-top:60px;
  a {
    @extend %Swiss721BT-Roman;
    color: $white;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dotted $white;
    margin-right:16px;
    &:hover {
      color: $aaa-gray;
      padding-bottom: 1px;
      border-bottom: 1px solid $white;
    }
  }

  .footer-links {
    li {
      float:left;
      display:inline;
    }
  }

    .updated-footer {
      color: $white;
  }
}

.docs-color-code-block {
  @include margin-trailer(8);
  background-color: #26292C;
  color: #fff;
  padding: 24px;
  clear: left;
  .function-color {
    color: #6FCCEC;
  }
  .number-color{
    color: #A491FD;
  }
  .symbol-color {

  }
}

/* -----------------------------------------
    holders hold the colours and everything
    else for the swatches
/* ------------------------------------------------------------ */
.jqueryswatches .holder {
    position: relative;
    width: 100%;
    height: 100px;
    @include margin-trailer(2);
}


/* -----------------------------------------
    everything below styles the individual
    color blocks
/* ------------------------------------------------------------ */


.jqueryswatches .color { 
    height: 100%; 
    display: inline-block; 
}

/* -----------------------------------------
    the shade class contains the names of
    the colors for the popup effect
/* ------------------------------------------------------------ */
 .jqueryswatches .shade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFF;
 }

.jqueryswatches .color-names { 
    font-size: 9px; 
    color: #aaa; 
}

.jqueryswatches .color {
height: 100%;
display: inline-block;
width:25%;
}

.holder  {
margin: 0;
height:100px;
text-align:left;
}

.jqueryswatches .name {
    display: inline-block;
    height: 100%;
    margin-top: 4px;
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    width:25%;
    padding: 0 0 rhythm(1, 16px) rhythm(1, 16px);
}

/* -----------------------------------------
    styles the name of the swatch
/* ------------------------------------------------------------ */
.jqueryswatches .info {
    color: #000;
    display: none;
}
