---
layout: main.tpl
class-home: active
college: ual
template: true
section: course finder
title: Course Finder Results Page
---

<div class="search-results-wrap">
<div class="content-wrapper">  

<section id="search-results" role="main" class='search-results'>  

   
  <div class="search-results-summary">
      <div class="search-results-info"> 
        <p class="size-h3">Results: 1 – 20 of 23 search results for Graphic Design</p>
      </div>
      <div class="search-pagination-btns">  
        <a class="icon left-arrow" href="#"></a> 
        <a class="icon right-arrow" href="#"></a> 
      </div>
  </div>

  <ol class="search-results-list">
    <li>
      <article class="search-result-module cf">
          <div class="course-details">
            <div class="course-title"> 
              <h3><a href="#">BA (Honours) Fashion Communication: Fashion Communication and Promotion</a></h3>
            </div>
            <div class="course-description">
              <p>BA Painting at Camberwell embraces the possibilities for continued reinvention of the medium while also considering painting’s long and rich history.</p>
            </div>
            
            <div class="course-finder-right-arrow"></div>
            <div class="search-results-lower-wrap">
              <div class="enrolment-type">Undergraduate</div>
              <div class="college-name">Camberwell</div>
            </div>
          </div>
      </article>
    </li>  
   
   <li>
      <article class="search-result-module cf">
          <div class="course-details">
            <div class="course-title"> 
              <h3><a href="#">BA (Honours) Fashion Communication: Fashion Communication and Promotion</a></h3>
            </div>
            <div class="course-description">
              <p>BA Painting at Camberwell embraces the possibilities for continued reinvention of the medium while also considering painting’s long and rich history.</p>
            </div>
            
            <div class="course-finder-right-arrow"></div>
            <div class="search-results-lower-wrap">
              <div class="enrolment-type">Undergraduate</div>
              <div class="college-name">Camberwell</div>
            </div>
          </div>
      </article>
    </li>  
    
    <li>
      <article class="search-result-module cf">
          <div class="course-details">
            <div class="course-title"> 
              <h3><a href="#">BA (Honours) Fashion Communication: Fashion Communication and Promotion</a></h3>
            </div>
            <div class="course-description">
              <p>BA Painting at Camberwell embraces the possibilities for continued reinvention of the medium while also considering painting’s long and rich history.</p>
            </div>
            
            <div class="course-finder-right-arrow"></div>
            <div class="search-results-lower-wrap">
              <div class="enrolment-type">Undergraduate</div>
              <div class="college-name">Camberwell</div>
            </div>
          </div>
      </article>
    </li>  
    
    <li>
      <article class="search-result-module cf">
          <div class="course-details">
            <div class="course-title"> 
              <h3><a href="#">BA (Honours) Fashion Communication: Fashion Communication and Promotion</a></h3>
            </div>
            <div class="course-description">
              <p>BA Painting at Camberwell embraces the possibilities for continued reinvention of the medium while also considering painting’s long and rich history.</p>
            </div>
            
            <div class="course-finder-right-arrow"></div>
            <div class="search-results-lower-wrap">
              <div class="enrolment-type">Undergraduate</div>
              <div class="college-name">Camberwell</div>
            </div>
          </div>
      </article>
    </li>  
    <li>
      <article class="search-result-module cf">
          <div class="course-details">
            <div class="course-title"> 
              <h3><a href="#">BA (Honours) Fashion Communication: Fashion Communication and Promotion</a></h3>
            </div>
            <div class="course-description">
              <p>BA Painting at Camberwell embraces the possibilities for continued reinvention of the medium while also considering painting’s long and rich history.</p>
            </div>
            
            <div class="course-finder-right-arrow"></div>
            <div class="search-results-lower-wrap">
              <div class="enrolment-type">Undergraduate</div>
              <div class="college-name">Camberwell</div>
            </div>
          </div>
      </article>
    </li>  
  </ol> <!-- Search Results list -->
  
  <div class="search-results-summary">
      <div class="lower-search-results-info"> 
        <p>Results: 1 – 20 of 23 search results for Graphic Design</p>
      </div>
      <div class="search-pagination-btns">
        <a class="view-all" href="#">View All Results </a>  
        <a class="icon left-arrow" href="#"></a> 
        <a class="icon right-arrow" href="#"></a> 
      </div>
  </div>

  <!-- pagination links -->
    {% include components/_pagination.html %}

  <div class="row lower-search-again-box">
    <h2>Search Again</h2>
    <div class="search-input-wrap cf" >
        <form class="course-search-form" action="" method="post" name="course-search-form">
            
            
            <label class="hide-text" for="finder-search-input">Search Again</label>
            <input type="text" name="course-search-input" id="finder-search-input" class="course-finder-input" placeholder="Use key words: textiles, fine art, part time, undergraduate" />
            <div class="search-link">
              <a href="#">
                <span class="icon-search"></span>
              </a>
            </div>
        </form>
    </div>
  </div>   
</section> <!--  Search Results section -->
  
  {% include components/_search-filters.html %}
  
  </div>
</div>
  