<div class="row">
	<div class="article-listing-main-article-left">
		<ul class="leading-article">
			<li>
				<figure>
					<a href="#" title="#"><img src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="#" title="#">Transform your ambition into real experience</a></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sagittis elit, porta ornare felis. Donec purus dui, condimentum at magna at, aliquet euismod turpis. Nunc posuere sit amet mauris et egestas. Morbi rhoncus, tellus et facilisis fermentum, magna massa porta est.</p>
					<p>Eget malesuada magna sapien eget metus. In hac habitasse platea dictumst. Nulla facilisi. Aenean eget ante in justo congue commodo in vitae nisi.</p>
					<p><a class="button-link" href="" title=""><span class="hide-descriptive-text">Discriptive text about where this kink will go </span>How to Apply</a></p>
			</li>
		</ul>
		<ul class="other-articles">
			<li>
				<h2><a href="#" title="#">Study Undergraduate</a></h2>
					<p>Eget malesuada magna sapien eget metus. In hac habitasse platea dictumst. Nulla facilisi. Aenean eget ante in justo congue commodo in vitae nisi.</p>
					<p><a class="button-link" href="" title=""><span class="hide-descriptive-text">Discriptive text about where this kink will go </span>View Undergraduate Courses</a></p>
			</li>
			<li>
				<h2><a href="#" title="#">Study Postgraduate</a></h2>
					<p>Eget malesuada magna sapien eget metus. In hac habitasse platea dictumst. Nulla facilisi. Aenean eget ante in justo congue commodo in vitae nisi.</p>
					<p><a class="button-link" href="" title=""><span class="hide-descriptive-text">Discriptive text about where this kink will go </span>View Undergraduate Courses</a></p>
			</li>
			<li>
				<h2><a href="#" title="#">Study a Short Course</a></h2>
					<p>Eget malesuada magna sapien eget metus. In hac habitasse platea dictumst. Nulla facilisi. Aenean eget ante in justo congue commodo in vitae nisi.</p>
					<p><a class="button-link" href="" title=""><span class="hide-descriptive-text">Discriptive text about where this kink will go </span>View Short Courses</a></p>
			</li>
		</ul>
	</div>	
</div>
