<div class="row">
	<div class="block-quote-with-image">
		<figure class="m-hide">
			<img src="http://placehold.it/200x200/80A7FF/ffffff&text=PROFILE PIC" alt="">
		</figure>
		<blockquote>
			<p>&quot;BLOCK QUOTE WITH IMAGE Each legacy is an enduring reminder of how an individual’s life may be transformed through a creative education. It is a profoundly personal pledge that will help nurture, challenge and inspire future generations of students.&quot;</p>
			<p class="quote-credit">Nigel Carrington – UAL Vice-Chancellor</p>
		</blockquote>
	</div>
</div>