
<h2>Research Outputs</h2>
	
<div class="row">
	<div class="owl-carousel research-outputs">

    <div class="item">
    	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>
    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>
    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
      	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
	  	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

    <div class="item">
     	<img class="lazyOwl" data-src="http://placehold.it/800x600" width="800" height="600" alt="Multi">
	    <div class="item-description">
	        <span class="research-date">21 July 2011</span>
	        <h4>Work Title</h4>
	    </div>
    </div>

  </div>

  <div class="controls row">
  	<p><a href="http://testurl.com" class="button-link">View all outputs</a></p>
  </div>
 
</div>
