<div class="row">
			<div class="carousel">
			  <ul class="slides">
			    <li>
			      <div class="slide layout1">
			        <a class="image0" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/720x480_welcome.jpg" alt="#">
			        </a>
			      </div>
			    </li>         
			    <li>
			      <div class="slide layout2">
			        <a class="image0" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/480x480_open_days.jpg" alt="#">
			        </a>
			        <a class="image1" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_wtpoas.jpg" alt="#">
			        </a>
			        <a class="image2" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_life_at_ual.jpg" alt="#">
			        </a>
			      </div>
			    </li>
			    <li>
			      <div class="slide layout3">
			        <a class="image0" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/480x480_courses.jpg" alt="#">
			        </a>
			        <a class="image1" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_artsmart.jpg" alt="#">
			        </a>
			        <a class="image2" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_support.jpg" alt="#">
			        </a>
			      </div>
			    </li>
			    <li>
			      <div class="slide layout4">
			        <a class="image0" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/720x240_places.jpg" alt="#">
			        </a>
			        <a class="image1" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_lamp.jpg" alt="#">
			        </a>
			        <a class="image2" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_mobile.jpg" alt="#">
			        </a>
			        <a class="image3" href="#">
			          <img src="{{ site.url }}/assets/img/carousel-imgs/240x240_group.jpg" alt="#">
			        </a>
			      </div>
			    </li>
			  </ul>
			</div>
</div>

