<div class="row">
	<h2>Carousel showing 3 slides (move one at a time)</h2>
		<ul class="js-carousel" data-carousel-item-width="294" data-carousel-item-margin="34" data-carousel-min-items="3"> 
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_1.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_2.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_3.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		  <li class="slide"><img src="{{ site.url }}/assets/img/carousel-imgs/square_slide_4.jpg">
		  	<p>This is some text <a href="">for this slide</a></p></li>
		</ul>
</div>