</div>
</div>
</div>

<div class='circles-component'>
    <div class='circles-wrapper'>
        <div class='circle-callout-a' data-100-top='left:20px; opacity:1' data-1400='left:-400px; opacity: 0' data-anchor-target='.circles-component'>
          <h2>Come &amp; Visit Camberwell</h2>
          <a href="#">Book a place at one of our Open Days</a>
        </div>
        <div class='circle-callout-b' data-100-top='right:20px; opacity:1' data-1400='right:-400px; opacity: 0;' data-anchor-target='.circles-component'>
          <h2>Explore the Local Area</h2>
          <a href="#">See our full map of all things Camberwell</a>
        </div>
    </div>
</div>

