<div class="row">
	<div class="courses-2x6">
		<h2>Courses component</h2>
		<ul>
			<li>
				<h2><a href="#" title="#">Fine Art</a></h2>
				<figure>
					<a href="#" title="#"><img src="http://placehold.it/500x500&text=Fine Art" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<ul>
					<li><a href="#" title="#">BA (Hons) Fine Art</a></li>
					<li><a href="#" title="#">MA Art Theory</a></li>
					<li><a href="#" title="#">MA Fine Art</a></li>
					<li><a href="#" title="#">MRES Arts Practice</a></li>
				</ul>
			</li>
			<li>
				<h2><a href="#" title="#">Interior Design</a></h2>
				<figure>
					<a href="#" title="#"><img src="http://placehold.it/500x500&text=Interior Design" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<ul>
					<li><a href="#" title="#">FdA Interior Design</a></li>
					<li><a href="#" title="#">BA (Hons) Interior and Spatial Design</a></li>
					<li><a href="#" title="#">Graduate Diploma Interior Design</a></li>
					<li><a href="#" title="#">MA Interior and Spatial Design</a></li>
				</ul>
			</li>
		</ul>

		<ul>
			<li>
				<h2><a href="#" title="#">Graphic Design</a></h2>
				<figure>
					<a href="#" title="#"><img src="http://placehold.it/500x500&text=Graphic Design" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<ul>
					<li><a href="#" title="#">BA (Hons) Graphic Design Communication </a></li>
					<li><a href="#" title="#">MA Graphic Design Communication</a></li>
				</ul>
			</li>
			<li>
				<h2><a href="#" title="#">Textile Design</a></h2>
				<figure>
					<a href="#" title="#"><img src="http://placehold.it/500x500&text=Textile Design" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<ul>
					<li><a href="#" title="#">BA (Hons) Textile Design</a></li>
					<li><a href="#" title="#">MA Textile Design</a></li>
				</ul>
			</li>
			<li>
				<h2><a href="#" title="#">MA Curating</a></h2>
				<p>During 2013 we will be pausing the delivery of MA Curating for 1 year whilst we take time to redevelop the course and redesign the course content. This means that we will not be accepting applications for 2013. We will be updating you with more information on the new course and start taking applications for 2014 towards the end of 2013.</p>
			</li>
		</ul>
	</div>
</div>