	<div class="row">
		<div class="events-listing">
			<h2>Upcoming events at UAL</h2>
			<ul>
				<li>
					<figure class="t-hide m-hide">
						<a href="" title=""><img src="http://placehold.it/500x500/80A7FF/ffffff" alt="Image Alt"></a>
						<p class="date-box"><span class="day">23</span><span class="month">Jul</span></p>				
					</figure>
					<div class="text">
						<h3><a href="" title="">Postgraduate open days</a></h3>
						<p class="t-hide m-hide">Come along to an open day to discover more about the course you're interested in, and meet current students and discover more about the course that you are interested in and meet student and staff.</p>
						<p>Location: Place Street, London<br />
						Time: 18:00</p>
					</div>
				</li>
				<li>
					<figure class="t-hide m-hide">
						<a href="" title=""><img src="http://placehold.it/500x500/80A7FF/ffffff" alt="Image Alt"></a>
						<p class="date-box"><span class="day">01</span><span class="month">Sept</span></p>				
					</figure>
					<div class="text">
						<h3><a href="" title="">Open days at UAL</a></h3>
						<p class="t-hide m-hide">Come along to an open day to discover more about the course you're interested in, and meet current students and discover more about the course that you are interested in and meet student and staff.</p>
						<p>Location: Place Street, London<br />
						Time: 18:00</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="social-media-links">
			<h2>Follow UAL</h2>
			<ul>
				<li><a href="" title="">Facebook</a></li>
				<li><a href="" title="">Twitter</a></li>
				<li><a href="" title="">YouTube</a></li>
				<li><a href="" title="">Flickr</a></li>
				<li><a href="" title="">Vimeo</a></li>
				<li><a href="" title="">LinkedIn</a></li>
				<li><a href="" title="">Google+</a></li>
				<li><a href="" title="">Pinterest</a></li>
				<li><a href="" title="">Instagram</a></li>
			</ul>
		</div>
	</div>