<div class="row">
	<h2>Feature carousel</h2>
	<div class="carousel">
	  <ul class="slides">
	    <li class="college">
	      <div class="slide">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_1.jpg" alt="#">
	        </a>
	      </div>
	    </li>         
	    <li class="college">
	      <div class="slide">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_2.jpg" alt="#">
	        </a>
	      </div>
	    </li>
	    <li class="college">
	      <div class="slide">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_3.jpg" alt="#">
	        </a>
	      </div>
	    </li>
	    <li class="college">
	      <div class="slide">
	        <a class="image0" href="#">
	          <img src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_4.jpg" alt="#">
	        </a>
	      </div>
	    </li>
	  </ul>
	</div>
</div>

