<div class="l-content-full-width  block  __media  __highlight">
  <h2>Highlight block</h2>
    <div class="row">
			<a href="#" title="Link title">
				<figure class="feature">
					<img src="http://placehold.it/1000x500/80A7FF/ffffff&text=img" alt="Image Alt">
					<div class="credits">Matt Wisbey 'the workd through my eyes' BA Photography.</div>
				</figure>
					<h3>Summer shows 2013</h3>			
			</a>
  </div>
</div>

<!-- 

<div class="row">
	<div class="highlight-block">
		<h2>Highlight block</h2>

			<div class="wrapper">
					<a href="#" title="Link title">
						<figure class="feature">
							<img src="http://placehold.it/1000x500/80A7FF/ffffff&text=img" alt="Image Alt">
							<div class="credits">Matt Wisbey 'the workd through my eyes' BA Photography.</div>
						</figure>
							<h3>Summer shows 2013</h3>			
					</a>
			</div>

	</div>
</div> -->