<div class="row">
	<div class="content-wrapper">
		<div class="highlight-homepage-block-2-up">
			<h2>Highlight block homepage (2 up)</h2>
				<ul>
					<li>
						<a href="#" title="Link title">
							<figure class="feature">
								<img src="http://placehold.it/1000x500/80A7FF/ffffff&text=img" alt="Image Alt">
								<div class="credits">Matt Wisbey 'the workd through my eyes' BA Photography.</div>
							</figure>
								<h3>Illustration</h3>			
						</a>
					</li>					
					<li>
						<a href="#" title="Link title">
							<figure class="feature">
								<img src="http://placehold.it/1000x500/80A7FF/ffffff&text=img" alt="Image Alt">
								<div class="credits">Matt Wisbey 'the workd through my eyes' BA Photography.</div>
							</figure>
								<h3>Spacial Design</h3>			
						</a>
					</li>					
				</ul>
		</div>		
	</div>
</div>
