
	<div class="l-content-full-width  block  __media  __with-aside">
		<h2>Highlight block with aside</h2>
			<div class="row">
				<div class="l-content">
					<figure >
						<img src="http://placehold.it/1000x500&text=img" alt="Image Alt">
						<figcaption>
						<div class="credits">Pete Richardson 'i love this place' MA Fashion and Tetiles.</div>
							This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)
						</figcaption>	
					</figure>
								
					<h3>Title</h3>
					<p class="leader">Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
					<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
						<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
				</div>
				<aside>
					<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
				</aside>		
			</div>
	</div>
