<div class="row">
	<div class="image-list-with-text">
		<h2>Link list with images (feature)</h2>
		<ul>
			<li>
				<figure>
					<a href="" title=""><img src="http://placehold.it/1000x500&text=THUMBNAIL" alt="Image Alt"></a>
				</figure>
				<div class="text">
					<p class="title"><a href="" title="">Sub title for list</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
				</div>
			</li>
			<li>
				<figure>
					<a href="" title=""><img src="http://placehold.it/1000x500&text=THUMBNAIL" alt="Image Alt"></a>
				</figure>
				<div class="text">
					<p class="title"><a href="" title="">Sub title for list</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet, varius sit amet diam. Sed bibendum porttitor mattis. Phasellus nisl mi, gravida in porta nec, hendrerit quis arcu. (max XX words)</p>
				</div>
			</li>
		</ul>
	</div>
</div>