			<div class="row">
				<div class="image-block-with-leading-intro">
					<h2>Image block with leading article</h2>
						<div class="leader">
							<figure>
								<a href="" title=""><img src="http://placehold.it/1000x500&text=LEADING IMAGE" alt="Image Alt"></a>
								<p class="date-box"><span class="day">31</span><span class="month">Sept</span></p>				
							</figure>
								<p class="title"><a href="" title="">The summer starts here!</a></p>
								<p>Our summer shows season is just beginning. With exhibitions and events across the Colleges from now until the autumn, we are inviting the public and the media to join in the hunt for the next generation of creative stars in our studios and on Showtime.</p>
						</div>
					<ul>
						<li>
							<figure>
								<a href="" title=""><img class="m-hide" src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
								<p class="date-box"><span class="day">03</span><span class="month">Oct</span></p>				
							</figure>
							<div class="text">
								<p class="title"><a href="" title="">New UAL uniforms designed by student talent</a></p>	
								<p class="t-hide m-hide">In the autumn term of 2012, the UAL Estates team commissioned second year students from the BA (Hons) Fashion Design and Development course to re-design the UAL Facilities staff uniforms.</p>					
							</div>
						</li>
						<li>
							<figure>
								<a href="" title=""><img class="m-hide" src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
								<p class="date-box"><span class="day">17</span><span class="month">Dec</span></p>				
							</figure>
							<div class="text">
								<p class="title"><a href="" title="">John Sorrell named new Chair</a></p>
								<p class="t-hide m-hide">Sir John Sorrell, designer and campaigner for creative education, has been named the new Chair of the Court of Governors of University of the Arts London.</p>					
							</div>
						</li>
					</ul>
				</div>
			</div>