<div class="row">
	<div class="lists">
		<h2>Lists - specific to short course pages</h2>
		<div class="list">
			<h3>Useful Information</h3>
			<ul>
				<li><a href="" title="">Foundation application form (PDF 123KB)</a></li>
				<li><a href="" title="">Undergraduate application form (PDF 123KB)</a></li>
				<li><a href="" title="">Postgaraduate application form (PDF 123KB)</a></li>
				<li><a href="" title="">Short Course application form (PDF 123KB)</a></li>
			</ul>
		</div>
		<div class="list">
			<h3>Downloads</h3>
			<ul>
				<li><a href="" title="">Application form (PDF 456KB)</a></li>
				<li><a href="" title="">Things you should know before applying (PDF 456KB)</a></li>
				<li><a href="" title="">How to apply (PDF 456KB)</a></li>
				<li><a href="" title="">Why come here (PDF 456KB)</a></li>
				<li><a href="" title="">What to expect (PDF 456KB)</a></li>
				<li><a href="" title="">Attending a course in London (PDF 456KB)</a></li>
			</ul>
		</div>
		<div class="list">
			<h3>Related Links</h3>
			<ul>
				<li><a href="" title="">Course finder</a></li>
				<li><a href="" title="">Study at UAL</a></li>
				<li><a href="" title="">Open days</a></li>
				<li><a href="" title="">International</a></li>
				<li><a href="" title="">Student Union</a></li>
			</ul>
		</div>
		<div class="list">
			<h3>Social</h3>
			<ul>
				<li><a href="" title="">Facebook</a></li>
				<li><a href="" title="">Twitter</a></li>
				<li><a href="" title="">Instagram</a></li>
			</ul>
		</div>
	</div>
</div>