<div class="row">
			<div class="map-block">
				<div class="map m-hide t-hide">
					<img src="../assets/img/placeholders/map-image.jpg" alt="">
				</div>
				<div class="map-info">
					<h3>Map block</h3>
					<p>18C May Avenue<br />
					Canvey Island<br />
					Essex</p>
					<p>SS8 7EE</p>
					<p class="d-hide"><a href="http://goo.gl/maps/dy2qR" title="view on google maps">View on google maps</a></p>
					<p>Other information - this could include opening hours information, building accessibility etc.</p>
				</div>
			</div>
		</div>