<div class="row">
	<div class="l-content-full-width block __media">
		<h2>Media block (2 up) list 6x6</h2>
			<ul class="l-content-d5-d10">
				<li class="region">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Lorem ipsum dolor</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies non justo sit amet accumsan.</p>
				</li>
				<li class="region">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Fusce vel varius turpis</a></h3>
							<p>Mauris imperdiet nisi sit amet diam interdum tincidunt. Morbi vitae justo eu ante scelerisque elementum id ac orci. Fusce vel varius turpis. Donec nisl felis, rhoncus quis gravida sit amet, feugiat sit amet tortor. Mauris faucibus, lorem sit amet fringilla rutrum, lacus ante pharetra lectus, et vulputate mi dui eu nibh. Nunc ultricies nulla id enim eleifend lacinia.</p>
				</li>
				<li class="region event">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Et vulputate mi dui eu nibh</a></h3>
							<p>Wednesday 03 September - Friday 06 September 2013</p>
							<p>12.00 Daily</p>
							<p>Lorem sit amet fringilla rutrum, lacus ante pharetra lectus, et vulputate mi dui eu nibh. Nunc ultricies nulla id enim eleifend lacinia.</p>
							<p>Mauris faucibus, lorem sit amet fringilla rutrum, lacus ante pharetra lectus, et vulputate mi dui eu nibh. Nunc ultricies nulla id enim eleifend lacinia.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies non justo sit amet accumsan.</p>
							<p>uses .event on li</p>
				</li>
				<li class="region">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Phasellus convallis</a></h3>
							<p>Mauris faucibus, lorem sit amet fringilla rutrum, lacus ante pharetra lectus, et vulputate mi dui eu nibh. Nunc ultricies nulla id enim eleifend lacinia.</p>
				</li>
			</ul>
			<ul class="l-content-d11-d16">
				<li class="region">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Phasellus convallis</a></h3>
							<p>Mauris faucibus, lorem sit amet fringilla rutrum, lacus ante pharetra lectus, et vulputate mi dui eu nibh. Nunc ultricies nulla id enim eleifend lacinia.</p>
				</li>
				<li class="region course">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">MA Photography</a></h3>
							<p><a href="">Photography and Images</a></p>
							<p><a href="">Photography for Beginners</a></p>
							<p><a href="">Imagery and Effects</a></p>
							<p><a href="">Cropping and Shaping</a></p>
							<p>uses .course on li</p>
				</li>
				<li class="region">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Etiam lacinia tincidunt lacus. Duis scelerisque dignissim est.</a></h3>
							<p>Id condimentum erat blandit non. Mauris molestie mi sed suscipit luctus. Proin iaculis quam eget massa varius placerat. Praesent mauris ante, pellentesque ac magna in, eleifend porta dui. Cras cursus ultrices felis, vitae imperdiet metus pulvinar id. In pharetra nisl turpis. Cras dapibus placerat ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas purus ante, dapibus eget iaculis in, dapibus et elit.</p>
				</li>			
				<li class="region">
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
						</figure>
						<h3><a href="" title="">Lorem ipsum dolor</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies non justo sit amet accumsan.</p>
				</li>
			</ul>			
	</div> <!-- end image-block-2-up -->
</div> <!-- end row -->
