`<div class="row">
		<div class="l-content  block  three-up  __gallery">
		<h2>Media gallery (3 up)</h2>
		<ul>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan1TN.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan2TN.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan3TN.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan1TN.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan2TN.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
			<li>
				<a href="#" title=""><img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan3TN.jpg" alt=""></a>
				<h3 class="size-h5"><a href="" title="">Firstname Lastname, Course Title, Course Leader</a></h3>
			</li>
		</ul>	
	</div>
</div>

<div class="row">
	<div class="l-content  block  three-up  __gallery   js-lightbox">
		<h2>Media gallery (3 up) with lightbox</h2>
		<ul>
			<li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan3.jpg" title="This is a caption for the image above">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan3TN.jpg" alt=""> </a>
      </li>
			<li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan2.jpg">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan2TN.jpg" alt=""> </a>
      </li>
			<li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan1.jpg">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/SindujaChandrapalan1TN.jpg" alt=""> </a>
      </li>
		<li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan3.jpg">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan3TN.jpg" alt=""> </a>
      </li>			
      <li>
    		<a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan2.jpg">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan2TN.jpg" alt=""> </a>
      </li>    		
			<li>
      <a class="no-border" href="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan1.jpg">
      	<img src="http://beta.arts.ac.uk/media/beta/colleges/csm/images/yingtong-tan1TN.jpg" alt=""> </a>
      </li>
		</ul>	
	</div>
</div>
