<div class="row">
	<div class="content">
		<div class="row">
			<div class="__gallery  four-up">
				<h2>Media gallery (4 up)</h2>
				<ul>
					<li>
						<a href="#" title=""><img src="{{ site.url }}assets/img/placeholders/placeholder-camb-580.jpg" alt=""></a>
						<h3 class="size-h5"><a href="" title="">Camberwell</a></h3>
					</li>
					<li>
						<a href="#" title=""><img src="{{ site.url }}assets/img/placeholders/placeholder-chelsea-580.jpg" alt=""></a>
						<h3 class="size-h5"><a href="" title="">Chelsea</a></h3>
					</li>
					<li>
						<a href="#" title=""><img src="{{ site.url }}assets/img/placeholders/placeholder-lcf-580-4.jpg" alt=""></a>
						<h3 class="size-h5"><a href="" title="">LCF</a></h3>
					</li>
					<li>
						<a href="#" title=""><img src="{{ site.url }}assets/img/placeholders/placeholder-csm-580.jpg" alt=""></a>
						<h3 class="size-h5"><a href="" title="">CSM</a></h3>
					</li>
					<li>
						<a href="#" title=""><img src="{{ site.url }}assets/img/placeholders/placeholder-lcc-580.jpg" alt=""></a>
						<h3 class="size-h5"><a href="" title="">LCC</a></h3>
					</li>
					<li>
						<a href="#" title=""><img src="{{ site.url }}assets/img/placeholders/placeholder-wimb-580.jpg" alt=""></a>
						<h3 class="size-h5"><a href="" title="">Wimbledon</a></h3>
					</li>
				</ul>		
			</div>
		</div>


		<div class="row">
			<div class="__gallery  four-up  js-lightbox">
				<h2>Media gallery (4 up) with lightbox</h2>
				<ul>
					<li>
		    			<a class="no-border" href="{{ site.url }}assets/img/placeholders/placeholder-camb-580.jpg">
		      				<img src="{{ site.url }}assets/img/placeholders/placeholder-camb-580.jpg" alt=""> 
		      				<span class="hide">This is a caption for the image above (firstname lastname, course title, any other info)</span>
		      			</a>
		      		</li>
					<li>
		    			<a class="no-border" href="{{ site.url }}assets/img/placeholders/placeholder-chelsea-580.jpg">
		      				<img src="{{ site.url }}assets/img/placeholders/placeholder-chelsea-580.jpg" alt=""> 
		      			</a>
		      		</li>
					<li>
		    			<a class="no-border" href="{{ site.url }}assets/img/placeholders/placeholder-lcf-580-4.jpg">
		      				<img src="{{ site.url }}assets/img/placeholders/placeholder-lcf-580-4.jpg" alt=""> 
		      			</a>
		      		</li>
					<li>
		    			<a class="no-border" href="{{ site.url }}assets/img/placeholders/placeholder-csm-580.jpg">
		      				<img src="{{ site.url }}assets/img/placeholders/placeholder-csm-580.jpg" alt=""> 
		      			</a>
		      		</li>			
		      		<li>
		    			<a class="no-border" href="{{ site.url }}assets/img/placeholders/placeholder-lcc-580.jpg">
		      				<img src="{{ site.url }}assets/img/placeholders/placeholder-lcc-580.jpg" alt=""> 
		      			</a>
		      		</li>    		
					<li>
		      			<a class="no-border" href="{{ site.url }}assets/img/placeholders/placeholder-wimb-580.jpg">
		      				<img src="{{ site.url }}assets/img/placeholders/placeholder-wimb-580.jpg" alt=""> 
		      			</a>
		      		</li>
				</ul>	
			</div>
		</div>

	</div>
</div>