<!-- exiting the page -->

		</div> <!-- end main-content -->
	</div> <!-- end row -->
		
	<div class="row">
		<div class="l-content-full-width  block  __media  four-up">
			<h2>Media block (4 up)</h2>
			<ul>
				<li>
					<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
							<figcaption>
								This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)
							</figcaption>	
						</figure>
							<h3><a href="" title="">Title</a></h3>
								<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
								<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
				</li>
				<li>
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
							<figcaption>
								This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)
							</figcaption>	
						</figure>
							<h3><a href="" title="">Title</a></h3>
								<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
								<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
				</li>
				<li>
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
							<figcaption>
								This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)
							</figcaption>	
						</figure>
							<h3><a href="" title="">Title</a></h3>
								<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
								<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
				</li>
				<li>
						<figure class="feature">
						<a href="" title=""><img src="http://placehold.it/1000x500&text=img" alt="Image Alt"></a>
							<div class="credits">This would be the credits, if applicable</div>
							<figcaption>
								This is a information for the image above, it can be either accreditation or a caption. This should not run more than 2 lines. (optional)
							</figcaption>	
						</figure>
							<h3><a href="" title="">Title</a></h3>
								<p>Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
								<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Optional button</a></p>
				</li>
			</ul>
		</div> <!-- end image-block-4-up -->
	</div> <!-- end row -->

	<div class="row">
		<div role="main" class="content">
