<div class="row">
	<div class="news-events-2x6">
		<h2>News and events component</h2>
		<ul>
			<li class="news">
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x250&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Summer Shows: SALT present Future Tours</a></h2>
				<p>Landi omnimust omnisit ad magnihic te moluptaqui consectur as ex et evercia ndemod eum andandi sam el mod eum et pratior ionseque nobitis mintus quo optate pos rerae prem apicit odis. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="news"> 
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x250&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Workshops and facilities at Chelsea</a></h2>
				<p>Landi omnimust omnisit ad magnihic te moluptaqui consectur as ex et evercia ndemod eum andandi sam el mod eum et pratior ionseque nobitis mintus quo optate pos rerae prem apicit odis. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="news">
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x250&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Chelsea graduate wins Zabludowicz Collection Future Map Prize</a></h2>
				<p>Chelsea BA Fine Art graduate Sophie Chamberlain has won the £3,000 prize. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="news">
				<h2><a href="" title="">Fulbright Scholar John Sturgeon arrives at Chelsea</a></h2>
				<p>US academic Professor John Sturgeon will be working at the Camberwell, Chelsea and Wimbledon Graduate School for the next six months. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="event">
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x250&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Doug Fishbone: Screening and in conversation with Dr. T.J. Demos</a></h2>
				<p class="date">17 Apr 2013, 17:30 – 19:00</p>
				<p class="venue">Lecture Theatre, Chelsea College of Art and Design, 16 John Islip Street, London SW1P 4JU</p>
				<p>Doug Fishbone will screen an extract from his controversial film Elmina seen at Tate Britain last year, followed by an in conversation with Dr T.J.Demos. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
		</ul>

		<ul>
			<li class="news">
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x250&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Open Days</a></h2>
				<p>Landi omnimust omnisit ad magnihic te moluptaqui consectur as ex et evercia ndemod eum andandi sam el mod eum et pratior ionseque nobitis mintus quo optate pos rerae prem apicit odis. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="news">
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x400&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Postgraduate study at Chelsea</a></h2>
				<p>Landi omnimust omnisit ad magnihic te moluptaqui consectur as ex et evercia ndemod eum andandi sam el mod eum et pratior ionseque nobitis mintus quo optate pos rerae prem apicit odis. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="event">
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x250&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Second Reflection/ Symmetrical Contents – Sturtevant and Secondeditions</a></h2>
				<p class="date">23 Jan – 9 Mar 2013</p>
				<p class="venue">Private View: 22 Jan 18:00 – 20:30 Chelsea Space, 16 John Islip Street, London SW1P 4JU</p>
				<p>Chelsea Space presents an exhibition by American, Paris-based artist Sturtevant and UK-based partnership Secondeditions. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
			<li class="news"> 
				<figure>
					<a href="" title=""><img src="http://placehold.it/500x400&text=NEWS" alt="News image"></a>
					<figcaption></figcaption>
				</figure>
				<h2><a href="" title="">Brian Chalkley - Female Trouble</a></h2>
				<p>Chelsea MA Fine Art Course Director Brian Chalkley solo show at Ancient &amp; Modern in London. <a href="#" title="#"><span>Read more about ...</span>&rarr;</a></p>
			</li>
		</ul>
	</div>
</div>