<div class="row">
	<div class="new-feature-block">
		<h2>NEW feature blocks - optional, NEW feature blocks - optional</h2>
			<figure class="content">
				<img src="http://placehold.it/1280x640/80A7FF/ffffff&text=image" alt="">
				<figcaption><p>This is an optional caption to go with the image</p></figcaption>
			</figure>
			<h3>Block title</h3>
				<p class="teaser">Quisque fermentum eros sit amet odio suscipit, sit amet porta mi pharetra. In hac habitasse platea dictumst. Nulla facilisi. Morbi interdum fermentum faucibus.</p>
				<p><a href="#" class="button-link"><span class="hide-descriptive-text">Follow this link to go to more information about</span>Short Courses</a></p>
	</div>
</div> 