<div class="row">
	<nav class="pagination" role="navigation">
		<ul>
			<li class="go-first"><a href="#"> First </a></li>
			<li class="page-prev"><a class="icon left-arrow" href="#"></a></li>
			<li><a href="#" class="page-number">1</a></li>
			<li><a href="#" class="page-number">2</a></li>
			<li><a href="#" class="page-number">3</a></li>
			<li><a href="#" class="page-number active">4</a></li>
			<li><a href="#" class="page-number">5</a></li>
			<li class="page-next"> <a class="icon right-arrow" href="#"></a></li>
			<li class="go-last"><a href="#"> Last </a></li>
		</ul>
	</nav>
</div>