<div class="search-widget">
    <form method="" id="research-widget-form" action="http://search.arts.ac.uk/s/search.html">
        <input  accesskey="q" value="" class="search-widget-input" type="text"  placeholder="Search research:" name="query">
        <input type="hidden" value="simple" name="form">
        <input type="hidden" value="research" name="collection">
        <a href="javascript:{}" onclick="document.getElementById('research-widget-form').submit();" class="search-icon-btn">
            <div class="icon-search"></div>
        </a>
    </form>
</div>
