<nav class="search-filters" role="navigation">
  <form> 
    <h2 class="size-h3">Filter results by:</h2>
    <div class="filter-module active">
      <h3 class="filter-heading">Colleges</h3>
      <ul>
        <li>
          <input type = "checkbox"
          id = "all-colleges"
          value = "#" class="before-label" checked="checked"/> 
          <label for = "all-colleges">All Colleges</label>
        </li>
        <li>
          <input type = "checkbox"
          id = "camberwell"
          value = "#" class="before-label" /> 
          <label for = "camberwell">Camberwell</label>
        </li>
        <li class="active">
          <input type = "checkbox"
            id = "csm"
            value = "#" class="before-label"/> 
          <label for = "csm">Central Saint Martins</label>
        </li>
        <li>
          <input type = "checkbox"
            id = "chelsea"
            value = "#" class="before-label"/>
          <label for = "chelsea">Chelsea</label>
        </li>
        <li>
          <input type = "checkbox"
            id = "lcc"
            value = "#" class="before-label"/>
          <label for = "lcc">London College of Communication</label>
        </li>
        <li class="active">
          <input type = "checkbox"
            id = "lcf"
            value = "#" class="before-label"/>
          <label for = "lcf">London College of Fashion</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "wimbledon"
           value = "#" class="before-label"/>
          <label for = "wimbledon">Wimbledon</label>
        </li>
      </ul>
    </div>
    
    <div class="filter-module">
      <h3 class="filter-heading">Level</h3>
      <ul>
        <li>
          <input type = "checkbox"
          id = "all-course-levels"
          value = "#" class="before-label" checked="checked"/> 
          <label for = "all-course-levels">All Course Levels</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "short-courses"
           value = "#" class="before-label"/>
          <label for = "short-courses">Short Course</label>
        </li>
        <li class="active">
          <input type = "checkbox"
           id = "language-courses"
           value = "#" class="before-label"/>
          <label for = "language-courses">Language Courses</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "further-education"
           value = "#" class="before-label"/>
          <label for = "further-education">Further Education</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "undergraduate"
           value = "#" class="before-label"/>
           <label for = "undergraduate">Undergraduate</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "postgraduate"
           value = "#" class="before-label"/>
          <label for = "postgraduate">Postgraduate</label>
        </li>
        <li >
          <input type = "checkbox"
           id = "research"
           value = "#" class="before-label"/>
          <label for = "research">Research</label>
        </li>
        <li>
          <input type = "checkbox"
           id = "study-abroad"
           value = "#" class="before-label"/>
          <label for = "study-abroad">Study Abroad</label>
        </li>
      </ul>
    </div>

    <div class="filter-module">
      <h3 class="filter-heading">Mode</h3>
      <ul>
        <li>
          <input type = "checkbox"
          id = "all-modes"
          value = "#" class="before-label" checked="checked"/> 
          <label for = "all-modes">All Modes</label>
        </li>
        <li >
          <input type = "checkbox"
           id = "full-time"
           value = "#" class="before-label"/>
          <label for = "full-time">Full-time</label>
        </li>
        <li>
           <input type = "checkbox"
           id = "part-time"
           value = "#" class="before-label"/>
          <label for = "part-time">Part-time</label>
        </li>
        <li>
           <input type = "checkbox"
           id = "online"
           value = "#" class="before-label"/>
          <label for = "online">Online</label>
        </li>
      </ul>
    </div>
  </form>
</nav>


