<div class="row">
	<div class="short-course-booking">
		<h2>Short Course Booking</h2>
		<div class="course-details">
			<table>
				<tr>
					<th>Dates</th>
					<td>
						<select name="dates" id="dates">
							<option value="dates 1">27 Mar 2013 - 04 Apr 2016</option>
							<option value="dates 2">27 Mar 2013 - 04 Apr 2016</option>
							<option value="dates 3">27 Mar 2013 - 04 Apr 2016</option>
							<option value="dates 4">27 Mar 2013 - 04 Apr 2016</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Attendance</th>
					<td>Monday - Friday</td>
				</tr>
				<tr>
					<th>Times</th>
					<td>15:00 - 17:00</td>
				</tr>
				<tr>
					<th>Duration</th>
					<td>3 years</td>
				</tr>
				<tr>
					<th>Location</th>
					<td>Central Saint Martins</td>
				</tr>
				<tr>
					<th>Cost</th>
					<td>&pound;2,000</td>
				</tr>
			</table>
		</div>
		<div class="book">
			<p><a href="#" title="Book your place" class="button-link">Book your place</a></p>
			<p>Courses in your basket: X</p>
			<p><a href="#" title="Go to checkout">Go to checkout</a></p>
			<p><a href="#" title="Login or register">Login / Register</a></p>
		</div>
	</div>	
</div>
