<div class="row">

			<!-- BEGIN CONTROLS -->

<div class="l-filter">

			
			<nav class="controls">
<!-- 				<div class="group" id="Sorts">
					<div class="button active" id="ToList"><i></i>List View</div>
					<div class="button" id="ToGrid"><i></i>Grid View</div>
				</div> -->
				<div class="group" id="Filters">
						<h3 class="size-h4">Browse by Subject</h3>
						<ul>
							<li data-dimension="subject" data-filter="all">All</li>							
							<li data-dimension="subject" data-filter="fashion-textiles">Fashion and Textiles</li>
							<li data-dimension="subject" data-filter="fine-art">Fine Art</li>
							<li data-dimension="subject" data-filter="graphic-design">Graphic Design</li>
							<li data-dimension="subject" data-filter="interdisciplinary">Interdisciplinary</li>
							<li data-dimension="subject" data-filter="media-art">Media Arts</li>
							<li data-dimension="subject" data-filter="theatre-performance">Theatre and Performance</li>
							<li data-dimension="subject" data-filter="three-dimensional-design">Three Dimensional Design</li>
						</ul>

<h3 class="size-h4">Browse by Session</h3>
<ul>
<li data-dimension="session" data-filter="all">All</li>							
<li data-dimension="session" data-filter="evening-daytime-weekend">Evening, Daytime and Weekend</li>
<li data-dimension="session" data-filter="christmas-school">Christmas School</li>
<li data-dimension="session" data-filter="easter-school">Easter School</li>
<li data-dimension="session" data-filter="summer-school">Summer School</li>
</ul>

<h3 class="size-h4">Browse by Interest</h3>
<ul>
<li data-dimension="interest" data-filter="all">All</li>							
<li data-dimension="interest" data-filter="art-history">Art History, Criticism and Curating</li>
<li data-dimension="interest" data-filter="13-15">13s - 15s</li>
<li data-dimension="interest" data-filter="16-18">16s - 18s</li>
<li data-dimension="interest" data-filter="computers-fashion-textiles">Computers for Fashion and Textiles</li>
<li data-dimension="interest" data-filter="fashion-accessories">Fashion Accessories</li>
<li data-dimension="interest" data-filter="fashion-design">Fashion Design</li>
<li data-dimension="interest" data-filter="fashion-illustration">Fashion Illustration</li>
<li data-dimension="interest" data-filter="fashion-marketing">Fashion Marketing</li>
<li data-dimension="interest" data-filter="making-fashion">Making Fashion</li>
<li data-dimension="interest" data-filter="portfolio-preparation">Portfolio Preparation</li>
<li data-dimension="interest" data-filter="textile-design">Textile Design</li>
<li data-dimension="interest" data-filter="orientation">Orientation</li>
<!-- Fine Art -->
<li data-dimension="interest" data-filter="drawing">Drawing</li>
<li data-dimension="interest" data-filter="life-study">Life Study</li>
<li data-dimension="interest" data-filter="painting">Painting</li>
<li data-dimension="interest" data-filter="printmaking-book-arts">Printmaking and Book Arts</li>
<li data-dimension="interest" data-filter="sculpture">Sculpture</li>
<!-- Graphic Design -->
<li data-dimension="interest" data-filter="computers-image-layout">Computers - Image and Layout</li>
<li data-dimension="interest" data-filter="computers-multimedia-internet">Computers - Multimedia and Internet</li>
<li data-dimension="interest" data-filter="graphic-design">Graphic Design</li>
<li data-dimension="interest" data-filter="illustration">Illustration</li>
<!-- Interdisciplinary -->
<li data-dimension="interest" data-filter="business-skills">Business Skills</li>
<li data-dimension="interest" data-filter="creative-process">Creative Process</li>
<li data-dimension="interest" data-filter="creative-writing">Creative Writing</li>
<li data-dimension="interest" data-filter="journalism">Journalism</li>
<li data-dimension="interest" data-filter="music-management">Music Management</li>
<li data-dimension="interest" data-filter="writing">Writing</li>
<!-- Media Arts -->
<li data-dimension="interest" data-filter="animation">Animation</li>
<li data-dimension="interest" data-filter="film-video">Film and Video</li>
<li data-dimension="interest" data-filter="photography">Photography</li>
<li data-dimension="interest" data-filter="scriptwriting-storyboarding">Scriptwriting and Storyboarding</li>
<!-- Theatre and Performance -->
<li data-filter="performance" class="filter">Performance</li>
<li data-filter="theatre-television-design" class="filter">Theatre and Television Design</li>
<!-- Three Dimensional Design -->
<li class="filter" data-filter="architecture-interior-spacial-design">Architecture, Interior and Spacial Design</li>
<li class="filter" data-filter="ceramics">Ceramics</li>
<li class="filter" data-filter="jewellery-metalwork">Jewellery and Metalwork</li>
<li class="filter" data-filter="product-design-development">Product Design and Developemnt</li>
</ul>
</div>
			</nav>
			
			<!-- END CONTROLS -->

	
</div>

<div class="l-list">	

			<!-- BEGIN PARKS -->

			<!-- Future navigation panel -->
			<div class="holder"></div>

			
			<ul id="Parks">
				
				<!-- "TABLE" HEADER CONTAINING SORT BUTTONS (HIDDEN IN GRID MODE)-->
				
				<div class="list_header">
					<div class="meta name active desc" id="SortByName">
						<span class="sort anim150 asc" data-sort="data-name" data-order="desc"></span>
						<span class="sort anim150 desc" data-sort="data-name" data-order="asc"></span>	
					</div>
				</div>
				
				<!-- FAIL ELEMENT -->
				
				<div class="fail_element anim250">Oooppps — we could not find any courses matching your selections<br /><br />Please select a filter from the filter list<br /><br />Happy filtering</div>
				
				<!-- BEGIN LIST OF PARKS (MANY OF THESE ELEMENTS ARE VISIBLE ONLY IN LIST MODE)-->


<li class="mix fashion-textiles evening-daytime-weekend 16-18 mix_all" data-name="Fashion Design for 16-18 Year Olds - 2 Day Weekend Course"><a href="" title="">Fashion Design for 16-18 Year Olds - 2 Day Weekend Course</a></li>

<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-name="a"><a href="" title="">Applied Surface Design using Illustrator and Photoshop Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-name="c"><a href="" title="">Computers for Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-name="c"><a href="" title="">Computers for Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-name="c"><a href="" title="">Creative Fashion Design with Illustrator</a></li>
<li class="mix fashion-textiles evening-daytime-weekend computers-fashion-textiles mix_all" data-name="d"><a href="" title="">Digital Fashion Illustration and Communication</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-name="b"><a href="" title="">Bag Design and Communication</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-name="f"><a href="" title="">Frame Purses Workshop Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-name="c"><a href="" title="">Change Your Image Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories fashion-marketing mix_all" data-name="f"><a href="" title="">Fabulous Fascinators</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-name="m"><a href="" title="">Millinery Workshop</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-name="s"><a href="" title="">Shoe Design for Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-accessories mix_all" data-name="s"><a href="" title="">Shoe Pattern Cutting for Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="3d"><a href="" title="">3D Fashion Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="a"><a href="" title="">Advanced Sportswear Design Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-illustration mix_all" data-name="a"><a href="" title="">Advanced Technical Drawing For Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="b"><a href="" title="">Building a Fashion Collection</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="d"><a href="" title="">Designing a Fashion T-Shirt Collection</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="d"><a href="" title="">Draping Womenswear Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="f"><a href="" title="">Fashion Design and Fabrics - 2 Day Weekend Course</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Design and Marketing (Tuesdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Design and Marketing (Wednesdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="f"><a href="" title="">Fashion Design For Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="f"><a href="" title="">Fashion London</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="f"><a href="" title="">Fashion Mix</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="f"><a href="" title="">Fashion T-shirt Design - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="i"><a href="" title="">Introduction to Fashion Design - Evenings</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="i"><a href="" title="">Introduction to Fashion Design - Saturdays</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="i"><a href="" title="">Introduction to Sportswear Design Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design fashion-illustration mix_all" data-name="i"><a href="" title="">Introduction to Technical Drawing For Fashion - 2 Day Weekend Course</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="m"><a href="" title="">Made To Measure Womenswear - Part 1</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="m"><a href="" title="">Made To Measure Womenswear - Part 2</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="m"><a href="" title="">Menswear Design Portfolio</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-design mix_all" data-name="s"><a href="" title="">Sustainable Fashion</a></li>

<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="d"><a href="" title="">Designing Floral Fabrics for Fashion Weekend<a/></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="e"><a href="" title="">Experimental Fashion Drawing</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="f"><a href="" title="">Fashion Drawing for Absolute Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="f"><a href="" title="">Fashion Drawing for Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="f"><a href="" title="">Fashion Sketchbook</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="l"><a href="" title="">Life Drawing For Fashion Designers</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-illustration mix_all" data-name="t"><a href="" title="">Technical Drawing for Fashion</a></li>


<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="a"><a href="" title="">Art Direction for Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="a"><a href="" title="">Art Direction for Fashion - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="b"><a href="" title="">Brand Management for Your Fashion Label</a></li>

<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="c"><a href="" title="">Cool Hunters London</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="c"><a href="" title="">Cool Hunting</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="c"><a href="" title="">Cool Hunting Fashion - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="c"><a href="" title="">Create Your Own Fashion Film</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion and Textile Forecasting</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Journalism - Intermediate</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Magazines Business</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Marketing - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Promotion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Styling for Beginners (Thursday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Styling for Beginners (Wednesday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="f"><a href="" title="">Fashion Styling for Beginners - Saturdays</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="g"><a href="" title="">Getting Your Fashion Collection to Market - 2 Day Weekend Course</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="h"><a href="" title="">How to Start Your Own Fashion Business</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="i"><a href="" title="">Introduction to Fashion Journalism (Thursdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="i"><a href="" title="">Introduction to Fashion Journalism (Tuesdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="m"><a href="" title="">Make-Up for Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="s"><a href="" title="">Style Yourself</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="s"><a href="" title="">Sustainable Styling</a></li>
<li class="mix fashion-textiles evening-daytime-weekend fashion-marketing mix_all" data-name="v"><a href="" title="">Visual Merchandising - Fashion</a></li>


<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="c"><a href="" title="">Couture Tailoring</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="e"><a href="" title="">Embroidery</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="h"><a href="" title="">Hand-Sewing Techniques</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="i"><a href="" title="">Introduction to Professional Sewing Skills</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking - Experimental and Explorative Approaches Part 1</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking - Experimental and Explorative Approaches Part 2</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking - Level 1 (Monday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking - Level 1 (Saturdays)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking - Level 1 (Wednesday Evenings)</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking The Jacket - Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="p"><a href="" title="">Patternmaking Trousers and Waistcoat Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend making-fashion mix_all" data-name="s"><a href="" title="">Swimwear and Lingerie Workshop</a></li>

<li class="mix fashion-textiles evening-daytime-weekend portfolio-preparation mix_all" data-name="p"><a href="" title="">Portfolio Preparation for Foundation - Fashion and Textiles</a></li>
<li class="mix fashion-textiles evening-daytime-weekend portfolio-preparation mix_all" data-name="p"><a href="" title="">Portfolio Surgery For Fashion Textiles Weekend</a></li>

<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="a"><a href="" title="">Advanced Drawing and Painting For Textiles Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="a"><a href="" title="">Applied Surface Design using Illustrator and Photoshop Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="c"><a href="" title="">Contemporary Textiles from Old</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="c"><a href="" title="">Creative Portfolio in Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="d"><a href="" title="">Designing Floral Fabrics For Fashion</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="d"><a href="" title="">Digital Print on Textiles</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="d"><a href="" title="">Drawing and Painting for Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="d"><a href="" title="">Drawing and Painting for Textile Design - Online</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="e"><a href="" title="">Embroidery</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="f"><a href="" title="">Fabric Awareness for Designers</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="f"><a href="" title="">Fashion Design and Fabrics - 2 Day Weekend Course</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="h"><a href="" title="">Hand Painting and Printing for Textiles</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="k"><a href="" title="">Knitting For Beginners</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="k"><a href="" title="">Knitting For Beginners Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="l"><a href="" title="">Laser Cutting for Textile Design</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="m"><a href="" title="">Machine Knitting</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="p"><a href="" title="">Portfolio Surgery For Fashion Textiles Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="s"><a href="" title="">Screen Printing Workshop - Tea Towels And Totes Weekend</a></li>
<li class="mix fashion-textiles evening-daytime-weekend textile-design mix_all" data-name="t"><a href="" title="">Textile Design Workshop</a></li>

<li class="mix fashion-textiles christmas-school 16-18 mix_all" data-name="t"><a href="" title="">Fashion Design for 16 to 18 Year Olds</a></li>
<li class="mix fashion-textiles christmas-school 16-18 mix_all" data-name="t"><a href="" title="">Fashion Patternmaking For 16 - 18 Year Olds</a></li>
<li class="mix fashion-textiles christmas-school 16-18 mix_all" data-name="t"><a href="" title="">Textile Art for 16 - 18 Year Olds</a></li>






				
			</ul>

</div>	

</div> <!-- end row -->