<div class="row">

    <div class="l-content">

        <div class="row slider-container">
        	<div class="royalSlider rsDefault slider-8" data-slider-item-width="653" data-slider-item-height="327">
        	  	
        	  	<figure>
                	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1306x653_lcf.jpg" alt="some alt text" />
                	<figcaption class="rsCaption">1306 x 653 2x retina (shrinks to fit area)</figcaption>
            	</figure>
            	<figure>
                	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/930x465_csm-jiaxin-tang.jpg" alt="some alt text" />
                	<figcaption class="rsCaption"></figcaption>
            	</figure>
            	<figure>
                	<img class="rsImg" src="http://placehold.it/310x465" alt="some alt text" />
                	<figcaption class="rsCaption"></figcaption>
            	</figure>
            	<figure>
                	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/480x480_courses.jpg" alt="This text will be IGNORED!" />
                	<figcaption class="rsCaption"></figcaption>
            	</figure>
                <figure>
                    <img class="rsImg" src="{{ site.url }}/assets/img/lcf/sophie_hallette474h.jpg" alt="This text will be IGNORED!" />
                    <figcaption class="rsCaption"></figcaption>
                </figure>
        	  	<div>
        	    	<img class="rsImg" src="http://placehold.it/930x465" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE" />
        	    	<div class="rsCaption">Video from Youtube</div>
        	    </div>

        	</div>
        </div>

    </div>

</div>