<div class="content-wrapper">
    <div class="row slider-container overflow">
    	<div class="royalSlider contentSlider rsDefault  block" data-slider-item-width="1280" data-slider-item-height="480">
    	  	<figure>
            	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_1.jpg" alt="some alt text" />
            	<figcaption class="rsCaption"><span>This is an 'overflow' slider</span></figcaption>
        	</figure>
        	<figure>
            	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_2.jpg" alt="some alt text" />
            	<figcaption class="rsCaption"><span>Images are still 1280 x 480</span></figcaption>
        	</figure>
        	<figure>
            	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_3.jpg" alt="some alt text" />
            	<figcaption class="rsCaption"><span>Image</span></figcaption>
        	</figure>
        	<figure>
            	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1280x480_slide_4.jpg" alt="some alt text" />
            	<figcaption class="rsCaption"><span>Image</span></figcaption>
        	</figure>    	
    	</div>
    </div>
</div>
