<div class="row slider-container">
	<div class="royalSlider rsDefault  block  slider-12" data-slider-item-width="948" data-slider-item-height="474" data-slider-auto-play="true">
	  	
	  	<figure>
        	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/1896x948_lcf.jpg" alt="some alt text" />
        	<figcaption class="rsCaption"><span>1896 x 948 2x retina (shrinks to fit area)</span></figcaption>
            <div class="credits">test</div>
    	</figure>
        <figure>
            <img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/948x474_lcf.jpg" alt="some alt text" />
            <figcaption class="rsCaption"><span>948 x 474 - is NOT upscaled, but shrinks to fit when compressed</span></figcaption>
        </figure>
    	<figure>
        	<img class="rsImg" src="http://placehold.it/400x474" alt="some alt text" />
        	<figcaption class="rsCaption"><span>400 x 474 - smaller portait image</span></figcaption>
    	</figure>
<!--    <figure>
        	<img class="rsImg" src="{{ site.url }}/assets/img/carousel-imgs/480x480_courses.jpg" alt="This text will be IGNORED!" />
        	<figcaption class="rsCaption">480 x 480 - square image auto-scaled to fit</figcaption>
    	</figure>
-->
	  	<div>
	    	<img class="rsImg" data-rsw="560" data-rsh="315" src="http://placehold.it/948x474" data-rsvideo="http://www.youtube.com/watch?v=HFbHRWwyihE" />
	    	<div class="rsCaption"><span>Video from Youtube</span></div>
	    </div>
        <div>
            <img class="rsImg" src="http://placehold.it/948x474" data-rsvideo="http://vimeo.com/71035465" />
            <div class="rsCaption"><span>Video from Vimeo</span></div>
        </div>

	</div>
</div>


