<h2>Tabs to Accordion</h2>

<div class="l-content">

  <div class="row">
    <div class="tabs-container">
      <ul class="tabs">
        <li class="active" rel="tab1">Desktop Tab 1</li>
        <li rel="tab2">Desktop Tab 2</li>
        <li rel="tab3">Desktop Tab 3</li>
      </ul>
    </div><!-- .tabs-container -->

    <div class="tab_container">
      <p class="d_active tab_drawer_heading" rel="tab1"><span class="icon icon-plus"></span> Mobile Tab 1</p>
      <div id="tab1" class="tab_content">
        <div class="tab-content-caption-block">
          <h3>Content 1</h3>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
      <p class="tab_drawer_heading" rel="tab2"><span class="icon icon-plus"></span> Mobile Tab 2</p>
      <div id="tab2" class="tab_content">
        <div class="tab-content-caption-block">
          <h3>Content 2</h3>
            <p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <ul>
              <li>Test list 1</li>
              <li>Test list 2</li>
              <li>Test list 3</li>
              <li>Test list 4</li>
              <li>Test list 5</li>
            </ul>

            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

             <blockquote><span></span>
            <p>"I chose The Language Centre because I wanted to study English in an environment full of art and artists. I love my General English class. My classmates are very friendly and funny! I think the Centre's location is convenient for shopping and sightseeing, and the staff helped me a lot, to find galleries and book train tickets."</p>
            </blockquote>


        </div>
      </div>
      <p class="tab_drawer_heading" rel="tab3"><span class="icon icon-plus"></span> Mobile Tab 3</p>
      <div id="tab3" class="tab_content">
        <div class="tab-content-caption-block">
          <h3>Content 3</h3>
            <p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <blockquote>Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</blockquote>            
            <p>Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div>
      </div>
    </div><!-- .tab-container -->
  
  </div>
</div>


