<div class="row">
	<div class="top-stories">
		<div class="stories">
			<div class="story">
			<figure>
				<a href="#" title="#"><img src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
				<figcaption></figcaption>
			</figure>
			<h2>
				<a href="#" title="#">Preparing students for successful careers in the creative industry</a>
			</h2>
			<p>Eget malesuada magna sapien eget metus. In hac habitasse platea dictumst. Nulla facilisi. Aenean eget ante in justo congue commodo in vitae nisi.</p>
			<p><a class="button-link" href="" title=""><span class="hide-descriptive-text">Discriptive text about where this kink will go </span>More about LCC</a></p>
			</div>
			<div class="story">
			<figure>
				<a href="#" title="#"><img src="http://placehold.it/1000x500&text=IMAGE" alt="Image Alt"></a>
				<figcaption></figcaption>
			</figure>
			<h2><a href="#" title="#">Discover the courses that interest you and explore LCC</a></h2>
				<p>Eget malesuada magna sapien eget metus. In hac habitasse platea dictumst. Nulla facilisi. Aenean eget ante in justo congue commodo in vitae nisi.</p>
				<p><a class="button-link" href="" title=""><span class="hide-descriptive-text">Discriptive text about where this kink will go </span>Find out more about Open Days</a></p>
			</div>
		</div>
		<div class="stories-list">
			<h2>Top Stories</h2>
				<ul>
					<li>
						<p class="date">28/06</p>
						<p><a href="#" title="#">Advertising students Show Racism the Red Card</a></p>
					</li>
					<li>
						<p class="date">01/07</p>
						<p><a href="#" title="#">Design Challenges – Green Week 2013</a></p>
					</li>
					<li>
						<p class="date">22/07</p>
						<p><a href="#" title="#">Sustainability experts challenge LCC design students</a></p>
					</li>
					<li>
						<p class="date">16/08</p>
						<p><a href="#" title="#">Sustainability experts challenge LCC design students</a></p>					
					</li>
				</ul>
		</div>
	</div>
</div>