<!-- half-list -->
<div class="row">
	<div class="l-content-full-width  block  two-column-text">
		<ul>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/ma-fashion-artefact/">MA Fashion Artefact</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/ma-fashion-footwear/">MA Fashion Footwear</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/ma-fashion-design-technology-menswear/">MA Fashion Design Technology, Menswear</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/ma-fashion-design-technology-womenswear/">MA Fashion Design Technology, Womenswear</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/ma-fashion-and-the-environment/">MA Fashion and the Environment</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/ma-costume-design-for-performance/">MA Costume Design for Performance</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/pg-dip-pattern-design-and-garment-technology/">Postgraduate Diploma Pattern Design and Garment Technology</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/pg-cert-fashion-creative-pattern-cutting/">Postgraduate Certificate Fashion: Creative Pattern Cutting for the Fashion Industry</a></li>
			<li><a href="/courses/../courses-by-level/../courses/graduate-school/grad-dip-fashion-design-technology/">Graduate Diploma in Fashion Design Technology</a></li>
		</ul>
	</div>
</div>