
// -------- UAL global base colors 

// -------- type colors
.ual-black {
	color: $black;
}

.ual-white {
	color: $white;
}

.soft-black {
	color: $soft-black;
}

.dark-gray {
	color: $dark-gray;
}

.aaa-gray {
	color: $aaa-gray;
}

.college-logo-gray {
	color: $college-logo-gray;
}

.light-gray {
	color: $light-gray;
}


// -------- Background Colors

.ual-black-bg {
	background: $black;
	color: $white;
	a {
		color: $white;
		border-color: $white;
	}
}

.soft-black-bg {
	background: $soft-black;
	color: $white;
}

.dark-gray-bg {
	background: $dark-gray;
	color: $white;
}

.aaa-gray-bg {
	background: $aaa-gray;
}

.light-gray-bg {
	background: $light-gray;
}

.bg-gray-bg {
	background: $bg-gray;
}

.white-bg {
	background: $white;
}

.ual-white-bg {
	background: $white;
}

.ual-primary-black-bg {
	background: $black;
}

.ual-secondary-gray-bg {
	background: $ual-secondary;
}
.logo-gray-bg {
	background: $logo-gray;
}


// College typography color classes
.ccw-green { color: $ccw-green ; } 
.ccw-salmon { color: $ccw-salmon; } 
.ccw-blue { color: $ccw-blue; } // light blue



.csm-primary-bg {
	background: $csm-primary;
}






// Gradients
// 
// 
.v-gradient {
background-image: -webkit-linear-gradient(top, rgb(75, 144, 195), rgb(13, 99, 163));

}
