/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5 !important;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;
	
	// Use this one if you ARE using a global border-box setting
    height: $base-line;
    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}