
// Icons are currently stored in /assets/img/svg with png fallbacks
// we use grunticon to handle serving either svg or png icon depending on browser capability

// this is the default sizing for icons
.icon {
  width: 36px;
  height: 36px;
  background-position: 0% 0%;
}

