.icon-ual-camberwell {
	background-image: image-url("logos/png/ual-camberwell.png");
	background-repeat: no-repeat;
}
.icon-ual-chelsea {
	background-image: image-url("logos/png/ual-chelsea.png");
	background-repeat: no-repeat;
}
.icon-ual-csm {
	background-image: image-url("logos/png/ual-csm.png");
	background-repeat: no-repeat;
}
.icon-ual-lcc {
	background-image: image-url("logos/png/ual-lcc.png");
	background-repeat: no-repeat;
}
.icon-ual-lcf {
	background-image: image-url("logos/png/ual-lcf.png");
	background-repeat: no-repeat;
}
.icon-ual-mobile {
	background-image: image-url("logos/png/ual-mobile.png");
	background-repeat: no-repeat;
}
.icon-ual-wimbledon {
	background-image: image-url("logos/png/ual-wimbledon.png");
	background-repeat: no-repeat;
}
.icon-ual {
	background-image: image-url("logos/png/ual.png");
	background-repeat: no-repeat;
}
