/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */

/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/

// to prevent an extend error in sass, these files need to be imported into
// in the file that they will be extended from
@import "font-face/brandon-text",
		"font-face/bureau-grot",
		"font-face/alternate-gothic",
		"font-face/swiss-721",
		"font-face/fontello-embedded",
		"globals/sprites";

@include establish-baseline(16px);

// Always show scrollbar to prevent jumps when content is expanded
html {
  overflow-y: scroll;
	overflow-x: hidden;
}

// Set box-sizing rules to all elements
* {
 	@include box-sizing;
}

// Apply UAL global font to body
body {
	font-family: $ual-global-font-stack;
	overflow-x: hidden;
	@include font-size(16);
}

// Global link colors

a {
	// @extend %Swiss721BT-Roman;
	color: $black;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted $soft-black  ;
	&:hover {
		color: $aaa-gray;
		padding-bottom: 1px;
		border-bottom: 1px dotted $black;
		.lcc h2 & , .lcc h3 & {
			color: $lcc-secondary-pink;
		}
	}
	// h2 & {
	// 	@extend %Swiss721BT-Bold;
	// }
	h3 & {
		.lcc & {
			border-bottom: none;
		}
	}
	// h4 & {
	// 	@extend %Swiss721BT-Bold;
	// }
	.size-big & {
		border-bottom: none;
	}
}

h1, .size-h1 {
	@include font-size(54);
	@include adjust-leading-to(10, 54px);
	padding: rhythm(2, 54px) 0 rhythm(4, 54px) 0;
	.csm & {
		font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
		// @extend %LeviathanBlackItalic;
	}
	.camberwell &, .chelsea &, .wimbledon & {
		@extend %BrandonText-Bold;
	}
	.lcc & {
		@extend %AlternateGothic;
		// @extend %LeagueGothicRegular;
	  text-transform: uppercase;
		@include font-size(60);
		word-spacing: -6px;
	}
}

h2 {
	.csm & {
		font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
	}
	.lcc & {
		@include font-size(54);
		border-top: 4px solid $black;
		@extend %AlternateGothic;
		// @extend %LeagueGothicRegular;
	  text-transform: uppercase;
	  word-spacing: -6px;
	}
}

h3 {
	.csm & {
    @extend %BureauGrotBold;
	}
	.lcc & {
		@include font-size(42);
		@include adjust-leading-to(7, 42px);
		@extend %AlternateGothic;
		// @extend %LeagueGothicRegular;
		padding: rhythm(3, 36px) 0 rhythm(1, 42px) 0;
	  text-transform: uppercase;
	  border-bottom: 4px solid $black;
	  margin-bottom: 18px;
	  word-spacing: -4px;
	}
}






h2, h3, h4 {
	@extend %Swiss721BT-Bold;
}

h2, h3 {
	.camberwell &, .chelsea &, .wimbledon & {
		@extend %BrandonText-Bold;
	}
  // .csm & {
		// font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
  //   // @extend %BureauGrotBold;
  // }
}



h2 a, h3 a {
	.camberwell &, .chelsea &, .wimbledon & {
		@extend %BrandonText-Bold;
	}
  // .csm & {
		// font-family: 'Leviathan A', 'Leviathan B'; font-weight: 800; font-style: italic;
  //   // @extend %BureauGrotBold;
  // }
 // 	.lcc & {
	// 	@extend %LeagueGothicRegular;
	//   text-transform: uppercase;
	//   border-bottom: none;
	//   &:hover {
	//   	color: $lcc-secondary-pink;
	//   }
	// }
}

h2, .size-h2 {
	@include font-size(36);
	@include adjust-leading-to(7, 36px);
	padding: rhythm(3, 36px) 0 rhythm(3, 36px) 0;
}

h3, .size-h3 {
	@include font-size(22);
	@include adjust-leading-to(5, 22px);
	padding: rhythm(3, 22px) 0;
}

h4, .size-h4 {
	@include font-size(18);
	@include adjust-leading-to(4, 18px);
	padding: rhythm(2, 18px) 0 rhythm(3, 18px) 0;
}

.size-big {
	.lcc & {
		@include font-size(60);
		border-top: none;
	  border-bottom: 4px solid $black;
	  padding-bottom: 18px;
	  margin-bottom: 18px;
	  line-height: 54px;
	  word-spacing: -6px;
	}
}

h5 {
	@include font-size(16);
}

h6 {
	@include font-size(14);
}

p {
	@include font-size(16);
	@include adjust-leading-to(4, 16px);
	padding-bottom: rhythm(3, 16px);
}

// added for small p text in google maps
p.small { @include font-size(14); }

nav ul {
	margin-left: 0;
	list-style-type: none;
}

ul, ol, dl {
	margin-bottom: rhythm(3, 16px);

	li {
		@include font-size(16);
		@include adjust-leading-to(4, 16px);
		padding-bottom: rhythm(2, 16px);
	}
}

ul li ul, ol li ol {
  padding-top: rhythm(2, 16px);
  padding-bottom: 0;
  li {
    padding-bottom: rhythm(2, 16px);
  }
}

p {
	@include font-size(16);
}

.l-content {
	ul {
		li {
			padding-left: 9px;
			margin-left: 16px;
			list-style-type: square;
		}
	}
	// h3 {
	// 	@extend .size-h4;
	// 	@include padding-leader(1);
	// }
}

aside p, aside li {
	@include font-size(14);
}

ol {
	margin-left: rhythm(5, 16px);
	list-style-type: decimal-leading-zero;
	li {

	}
}

strong, b,{
	@extend %Swiss721BT-Bold;
}

em {
  @extend %Swiss721BT-Italic;
}

code {
	@extend %Swiss721BT-Italic;
	background: $bg-gray;
	@include font-size(12);
	padding: rhythm(1, 12px);
}

dl {
	@include adjust-leading-to(4, 16px);
	padding-bottom: rhythm(1, 16px);
	dt {
		@extend %Swiss721BT-Bold;
	}
	dd {
		padding-bottom: rhythm(2, 16px);
		padding-left: rhythm(4, 16px);
	}
}

table {
	width: 100%;
	@include font-size(14);
	@include adjust-leading-to(4, 14px);
	padding-bottom: rhythm(2, 14px);
	margin-bottom: rhythm(3, 14px);
	th, td {
		padding-top: rhythm(1, 14px);
		padding-right: rhythm(1, 14px);
		padding-bottom: rhythm(1, 14px);
		padding-left: rhythm(2, 14px);
	}
	th{
		text-align: left;
		vertical-align: top;
	}
	thead {
		@extend .aaa-gray-bg;
		@extend .ual-white;
	}
	tr {
		&:nth-child(odd) {
		}
		&:nth-child(even) {
			@extend .bg-gray-bg;


		}
	}
}

figure {
	position: relative; // for credits
	// margin-bottom: rhythm(3, 14px);
	line-height: 0;
	a {
		@extend %Swiss721BT-Light;
		color: $black;
		text-decoration: none;
		padding-bottom: 0;
		border-bottom: 0;
		&:hover {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}

figcaption, .rsCaption, .caption {
	@extend %Swiss721BT-Light;
	@include font-size(14);
	@include adjust-leading-to(3, 14px);
	span { // this span is required for complicated reasons related to Royal Slider's default presentation of the ALT text as the caption
		display: block;
		padding: 8px 12px 6px 12px;
		p {
			padding-bottom: 0;
		}
	}

}

%blockquote {
  position: relative;
  span {
    @extend .ui-icons-quote_marks;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: top left;
  }

  @include font-size(16);
  @include adjust-leading-to(4, 16px);
  margin-top: rhythm(2, 16px);
  padding-bottom: rhythm(2, 16px);
  padding-left: 68px;
  padding-right: 18%;
}

blockquote {
	@extend %blockquote;
}

hr {
	clear: both;
}

// LCF Variants

b, strong, h2, h3, h4 {
	@extend %Swiss721BT-Bold;
}

.lcf {
	// Swiss Black
	h1,h2,h2 a,h3,h3 a {
		@extend %Swiss721BT-Black;
	}
	h1 {
		@include font-size(48);
	}
	.search-results-list h3 a,
	.accordion h3,
	.dd-menu h3,
	.boxout h3,
	.__gallery h3 a,
	h4,h5,h6 {
	   @extend %Swiss721BT-Bold;
	}
	// Bottom margin
	&.home h2,
	.l-content-full-width h2,
	.__gallery h2,
	&.graduate-school h1,
	&.graduate-school h2 {
		margin-bottom: rhythm(4, 24px);
	}
	.intro-block-with-left-image h2 {
		margin-bottom: rhythm(2, 24px);
	}
	h2,
	.__media.block h3,
	.news-feed h3,
	.whats-on h3,
	.footer-block h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
		span, a {
			border-bottom: 1px solid black;
		}
	}
	.box-text h3 a {
		border-color: $white;
	}
	h2 {
		letter-spacing: 4px;
	}
	.college-footer .size-h2 {
		@include font-size(24);
   		@include margin-trailer(4);
   		padding-bottom: 0;

	}


    // centered headings
    .l-content-full-width.two-up,
    .three-up,
    .content h1,
    &.home h2,
    .content .four-up h2,
    .content .four-up h3,
    .call-to-action h3,
    &.graduate-school h2 {
        text-align: center;
    }

    .content {
        .text-block, .l-content {
        	h2, h3, h4 {
        		text-align: left;
         	}
        }
     }
}


// // GRADUATE SCHOOL

.graduate-school {
	.header-wrapper h1 {
		display: none;
	}
    .content-wrapper {
        h1,h2,h2 a,.call-to-action h3 {
            font-family: $lcf-serif-font;
            font-weight: normal;
            letter-spacing: 1px;
        }
        h1, h2 {
        	background: url(http://beta.arts.ac.uk/media/beta/beta-assets/img/lcf-title-underline.gif) bottom center no-repeat;
        }
        h1 {
            @include font-size(36);
            text-transform: uppercase;
            margin-bottom: rhythm(4, 30px);
            letter-spacing: 5px;
        }
        h2 {
        	@include font-size(20);
        	span, a {
        		border: 0 none;
        	}
        }
    }
    .call-to-action h3 {
		@include font-size(20);
		text-transform: uppercase;
	}
}


// --------------------------------
// text elements with icons applied
// --------------------------------

%icon { font-family: "fontello"; }
%icon-social { font-family: "fontello"; }
.icon { font-family: "fontello"; }
.icon-social { font-family: "fontello"; }

// add a PDF icon to links to a PDF download
// .l-content ul.download,  {
//   padding-left: 0px;
//   margin-left: 0px;
//   list-style-type: none;
//   a:before {
//     @extend %icon;
//     @include font-size(16);
//     min-width: 1.3em;
//     display: inline-block;
//     content: '\e808';
//     padding-right: 0;
//   }
// }

// styling for PDF link lists
// (remove default list icons in aside)


// // positioning for download link icons
// .download:before {
// 	min-width: 1.5em;
// 	padding-right: 0.65em;
// 	margin-left: 1px;
// }

// // hide external link after download links
// .download.external:after, .download.external.button-link:after {
//  	display: none;
// }

// add icon to any external links within l-content or aside
.l-content .external:after, aside .external:after{
    @extend %icon;
    min-width: 1.5em;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    content: '\e837';
}

// social media links icons
.l-content a[href*="facebook"]:before, aside a[href*="facebook"]:before,
.l-content a[href*="twitter"]:before, aside a[href*="twitter"]:before,
.l-content a[href*="flickr"]:before, aside a[href*="flickr"]:before,
.l-content a[href*="youtube"]:before, aside a[href*="youtube"]:before,
.l-content a[href*="linkedin"]:before, aside a[href*="linkedin"]:before,
.l-content a[href*="tumblr"]:before, aside a[href*="tumblr"]:before,
.l-content a[href*="vimeo"]:before, aside a[href*="vimeo"]:before,
.l-content a[href*="pinterest"]:before, aside a[href*="pinterest"]:before,
.l-content a[href*="plus.google"]:before, aside a[href*="plus.google"]:before,
.l-content a[href*="github."]:before, aside a[href*="github"]:before,
.l-content a[href^="mailto"]:before, aside a[href^="mailto"]:before {
	@extend %icon;
	min-width: 1.5em;
	display: inline-block;
	text-align: left;
	border-bottom: 0;
	text-decoration: none;
}

.l-content a[href*="facebook"]:before, aside a[href*="facebook"]:before { content: '\e816'; }

.l-content a[href*="twitter"]:before, aside a[href*="twitter"]:before { content: '\e817'; }

.l-content a[href*="flickr"]:before, aside a[href*="flickr"]:before { content: '\e819'; }

.l-content a[href*="youtube"]:before, aside a[href*="youtube"]:before { content: '\e835'; }

.l-content a[href*="linkedin"]:before, aside a[href*="linkedin"]:before { content: '\e832'; }

.l-content a[href*="tumblr"]:before, aside a[href*="tumblr"]:before { content: '\e830'; }

.l-content a[href*="vimeo"]:before, aside a[href*="vimeo"]:before { content: '\e81b'; }

.l-content a[href*="pinterest"]:before, aside a[href*="pinterest"]:before { content: '\e82e'; }

.l-content a[href*="plus.google"]:before, aside a[href*="plus.google"]:before { content: '\e834'; }

.l-content a[href*="github."]:before, aside a[href*="github"]:before { content: '\e81d'; }

.l-content a[href^="mailto"]:before, aside a[href^="mailto"]:before { content: '\e811'; }

// pdf and doc link icons
.l-content a[href$=".pdf"]:before, .l-content a[href$=".doc"]:before,
aside a[href$=".pdf"]:before, aside a[href$=".doc"]:before {
	font-family: "fontello";
	content: '\e808';
	min-width: 1.5em;
	padding-right: 0.65em;
	margin-left: 1px;
}

// adjust position of pdf icon for download lists
.l-content li a[href$=".pdf"]:before, .l-content li a[href$=".doc"]:before {
	margin-left: -1.3em;
}


// icon alignment tweaks
.l-content a[href*="facebook"]:before, aside a[href*="facebook"]:before {
	margin-right: -5px;
	margin-left: 3px;
}
// icon alignment tweaks
.l-content a[href*="tumblr"]:before, aside a[href*="tumblr"]:before,
.l-content a[href*="plus.google"]:before, aside a[href*="plus.google"]:before {
	margin-right: -3px;
	margin-left: 2px;
}
// icon alignment tweaks
.l-content a[href*="pinterest"]:before, aside a[href*="pinterest"]:before {
	margin-right: -1px;
	margin-left: 1px;
}


// don't show external link icon on links with social media icons
.l-content a[href*="facebook"].external:after, aside a[href*="facebook"].external:after,
.l-content a[href*="twitter"].external:after, aside a[href*="twitter"].external:after,
.l-content a[href*="flickr"].external:after, aside a[href*="flickr"].external:after,
.l-content a[href*="youtube"].external:after, aside a[href*="youtube"].external:after,
.l-content a[href*="linkedin"].external:after, aside a[href*="linkedin"].external:after,
.l-content a[href*="tumblr"].external:after, aside a[href*="tumblr"].external:after,
.l-content a[href*="vimeo"].external:after, aside a[href*="vimeo"].external:after,
.l-content a[href*="pinterest"].external:after, aside a[href*="pinterest"].external:after,
.l-content a[href*="plus.google"].external:after, aside a[href*="plus.google"].external:after,
.l-content a[href*="github."].external:after, aside a[href*="github"].external:after,
.l-content a[href^="mailto"].external:after, aside a[href^="mailto"].external:after,
.l-content a[href$=".pdf"]:after, .l-content a[href$=".doc"]:after,
aside a[href$=".pdf"]:after, aside a[href$=".doc"]:after  {
	display: none;
}





