// VARIABLES FOR GLOBAL USE

@import "compass/typography/vertical_rhythm";

// Colours
// ---------------------------------------------------------------------

// Define your main colour palette

$black              			:rgb(0, 0, 0);
$soft-black            		:rgb(40, 40, 40);     			// REMOVE & REPLACE WITH $dark-gray
$dark-gray            		:rgb(55, 55, 55);     // Dark gray
$aaa-gray            			:rgb(117, 117, 117);  // AAA gray
$ual-secondary          	:rgb(146, 146, 146);  			// WHERE IS THIS USED?
$college-logo-gray      	:rgb(153, 153, 153);  			// REMOVE & REPLACE WITH $logo-gray
$logo-gray            		:rgb(167, 169, 172);  // Logo lock up gray only
$light-gray            		:rgb(200, 200, 200);  // Light gray
$bg-gray            			:rgb(233, 233, 233);  // Background gray for black text
$white              			:rgb(255, 255, 255);  // White

// CSM Colours------------------------------------------------------------

$csm-primary 				      :rgb(209, 0, 0);   	// Red

// LCC Colours------------------------------------------------------------

$lcc-primary-yellow       :rgb(255, 255, 0);   	// Light yellow
$lcc-secondary-pink       :rgb(229, 0, 110); 		// Light pink
$lcc-green                :rgb(40, 229, 152);   // Light Green

// LCF Colours------------------------------------------------------------

$mid-gray                 :rgb(102, 102, 102);	// Mid gray for LCF footer

// CCW Shared Colours-----------------------------------------------------

$ccw-green                :rgb(40, 143, 43); // green
$ccw-salmon               :rgb(190, 60, 60); // Salmon pink
$ccw-blue                 :rgb(37, 118, 192); // blue

$ccw-green-light          :lighten($ccw-green, 58%); // green
$ccw-salmon-light         :lighten($ccw-salmon, 45%); // Salmon pink
$ccw-blue-light           :lighten($ccw-blue, 49%); // blue


// Fonts, measure, leading and typefaces----------------------------------

$base-font-size					  :16px; 				        // Sets the browser default size. Shouldn't need to change this.
$base-font-size-no-px           :16;                // Sets the browser default size. Shouldn't need to change this.
$base-line-height				  :6px;					        // Baseline grid. Set to a sensible, small size.
$base-line						    :24px;					      // Baseline grid. Set to a sensible, small size.
$ual-global-font-stack : "Swiss721BT-Light", Helvetica Neue, Helvetica, Arial, sans-serif;
$lcf-serif-font: Times, serif;
$ccw-brandon-font: "BrandonText-Regular", Helvetica, Arial, sans-serif;


// Default transition variables 
// (for use with compass transition include)
$transition-bg : background 0.2s ease;
$transition-all : all;
$transition-duration : 0.2s;
$transition-function : false;
$transition-delay    : false;

