---
title: Lists
last-updated: July 18, 2013
layout: docs.tpl
college: docs
class-home: docs
breadcrumb: Lists 
---

<div class="content-wrapper">
	<div class="row">
		<!-- sidebar for page navigation --> 
		<div role="navigation" class="sidebar">
			<ul>
				<!-- new feature block -->
				{% include _docs-sidebar.html %}
			</ul> 
		</div>

		<div role="main" class="content">

			<div class="row">
				<div class="l-content  block  __text">
						<p class="leader">Morbi sem orci, ullamcorper non elementum vitae, sagittis sed lacus. Suspendisse feugiat, nunc eget ornare condimentum.</p>
						
				</div>
				<aside>
						<h3>Usage</h3>
							<p>Example pages of where this component is used.</p>
						<h3>SCSS</h3>
							<p></p>
						<h3>Includes</h3>
							<p></p>
							<p></p>
							<p></p>
					</aside>			
			</div>

			<div class="row">

				<!-- text blocks -->
				{% include components/_image-list-with-text-content.html %}

			</div>

			<!-- text blocks -->
			{% include components/_image-list-with-text-feature.html %}

			<ol class="search-results-list">
				{% include components/_list-search-result.html %}
				{% include components/_list-search-result.html %}
				{% include components/_list-search-result.html %}	
			</ol>

			<!-- boxout -->
			{% include components/_media-gallery-4-up.html %}	
			
		</div> <!-- end main-content -->
	</div> <!-- end row -->
</div> <!-- end content-wrapper -->			



