---
title: Blocks
last-updated: July 29, 2013
layout: style.tpl
college: docs
class-home: docs
breadcrumb: Blocks 
---

<div class="content-wrapper">
	<div class="row">
		<!-- sidebar for page navigation --> 
		<div role="navigation" class="sidebar">
			<ul>
				<!-- new feature block -->
				{% include _docs-sidebar.html %}
			</ul> 
		</div>
		<div role="main" class="content">
			<div class="row">
				<div class="l-content  block  __text  __with-aside ">
						<p class="leader">Morbi sem orci, ullamcorper non elementum vitae, sagittis sed lacus. Suspendisse feugiat, nunc eget ornare condimentum.</p>
						<p>Morbi sem orci, ullamcorper non elementum vitae, sagittis sed lacus. Suspendisse feugiat, nunc eget ornare condimentum, neque est venenatis est, eu feugiat libero tellus vitae purus. Sed et laoreet erat. Duis ac risus rutrum metus volutpat volutpat non eget ante. Etiam ac nisl vel mauris imperdiet scelerisque ut ut lectus. Aenean vitae arcu arcu. Duis in interdum magna.</p>
				</div>	
				<aside>
						<h3>Usage</h3>
							<p>Example pages of where this component is used.</p>
						<h3>SCSS</h3>
							<p>_media-blocks.scss</p>
						<h3>Includes</h3>
							<p>_media-block.html</p>
							<p>_media-block-with-aside.html</p>
							<p>_media-block-2-up.html</p>
							<p>_media-block-3-up.html</p>
							<p>_media-block-4-up.html</p>
							<p>_media-block-2-up-list.html</p>
				</aside>		
			</div>
				

				<!-- media block -->
				{% include components/_media-block.html %}

				<!-- media block -->
				{% include components/_media-block-with-aside.html %}

				<!-- media block -->
				{% include components/_media-block-2-up.html %}

				<!-- media block -->
				{% include components/_media-block-3-up.html %}

				<!-- media block -->
				{% include components/_media-block-4-up.html %}

				<!-- media block -->
				{% include components/_media-block-2-up-list.html %}
		
		</div> <!-- end .content -->
	</div> <!-- end row -->
</div> <!-- end content-wrapper -->			
</div>
<!-- media block -->
{% include components/_related-content.html %}
