---
title: College home slider
last-updated: June 28, 2013
layout: docs.tpl
college: docs
class-home: docs
breadcrumb: Page Layout 
---

<!-- carousel slider 
{% include components/_carousel.html %}-->

<div class="content-wrapper">
	<div class="row">
		<h2>Full-width overflow slider</h2>
	</div>
</div>

<!-- feature carousel -->
{% include components/_slider-overflow.html %}


<div class="content-wrapper">
	<div class="row">
		<h2>Full-width contained slider</h2>
	</div>
	<div class="row slider-container">
		<div class="royalSlider contentSlider rsDefault  block" data-slider-item-width="1280" data-slider-item-height="480">
			<figure>
	        	<img class="rsImg resrc" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-1.jpg" alt="some alt text" />
	        	<div class="call-to-action">
					<a href="#" title="">Optional call to action</a>
				</div>
	        	<figcaption class="rsCaption"><span>1280 x 480</span></figcaption>
	    	</figure>
	    	<figure>
	        	<img class="rsImg resrc" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="some alt text" />
	        	<figcaption class="rsCaption"><span>1280 x 480</span></figcaption>
	    	</figure>
	    	<figure>
	        	<img class="rsImg resrc" src="{{ site.url }}//assets/img/lcf/lcf-slide-ba13-2.jpg" alt="no caption test alt" />
	        	<figcaption class="rsCaption"></figcaption>
	    	</figure>
		</div>
	</div><!-- .slider-container -->


	<div class="row">

		<!-- sidebar for page navigation --> 
		<div role="navigation" class="sidebar">
			<ul>
				<li><a href="" title="">sidebar</a></li>
				<li><a href="" title="">sidebar</a></li>
				<li><a href="" title="">sidebar</a></li>
				<li><a href="" title="">sidebar</a></li>
				<li><a href="" title="">sidebar</a></li>
				<li><a href="" title="">sidebar</a></li> 
				<li><a href="" title="">sidebar</a></li> 
			</ul>
		</div>

		<div role="main" class="content">

			<div class="row">
				<h2>slider 12 #1</h2>
			</div>
			<!-- text block -->
			{% include components/_slider-12.html %}

			<div class="row">
				<h2>slider 12 #2</h2>
			</div>
			<!-- text block -->
			{% include components/_slider-12.html %}

			<div class="row">
				<h2>slider 8</h2>
			</div>
			<div class="row">
				<div class="l-content-full-width  block  __media  __with-aside">
					{% include components/_slider-8.html %}
				</div>
			</div>

			<!-- csm blocks -->
			{% include components/_image-wall.html %}

		</div><!-- end main-content -->
	</div><!-- end row -->
</div><!-- end content wrapper -->
