---
title: Page Layout
last-updated: June 28, 2013
layout: docs.tpl
college: docs
class-home: docs
breadcrumb: Page Layout 
---


<!-- carousel slider -->
{% include components/_carousel-landscape.html %}

<div class="content-wrapper">
	<div class="row">

		<!-- sidebar for page navigation --> 
		<div role="navigation" class="sidebar">
			<ul>
				<!-- new feature block -->
				{% include _docs-sidebar.html %}
			</ul> 
		</div>

		<div role="main" class="content"> 

			<!-- new feature block -->
			{% include components/_new-feature-block.html %}

			<!-- link lists - used on short course pages -->
			{% include components/_lists.html %}
			
			<!-- dropdown menu button-->
			{% include components/_dropdown-menu.html %}

			<!-- dropdown menu button-->
			<div class="rhythm-2">
			{% include components/_dropdown-menu.html %}
			</div>
			
			<!-- pagination links -->
			{% include components/_pagination.html %}
			
			<!-- short course booking -->
			{% include components/_short-course-booking.html %}
		
			<!-- article list with leading article on left - used on lcc homepage -->
			{% include components/_article-listing-main-article-left.html %}
			
			<!-- responsive expandable search input -->
			<div class="rhythm-2">
			{% include components/_search-input-expandable.html %}
			</div>
			<!-- top stories right side comp -->
			{% include components/_top-stories.html %}
			
			<!-- chelsea homepage news and events -->
			{% include components/_news-events-2x6.html %}
			
			<!-- chelsea homepage news and events -->
			{% include components/_courses-2x6.html %}

			<!-- LCC homepage tabs to accordion -->
			{% include components/_tabs-to-accordion.html %}

			<!-- image block -->
			{% include components/_image-block.html %}

			<!-- image list with text - feature -->
			{% include components/_image-list-with-text-feature.html %}

			<!-- image list with text - content -->
			{% include components/_image-list-with-text-content.html %}			

			<!-- block quote -->		
			{% include components/_block-quote.html %}

			<!-- block quote with image -->
			{% include components/_block-quote-with-image.html %}

			<!-- boxouts -->
			{% include components/_boxout.html %}

			<!-- boxout variant - not included as a component -->
			<div class="row">
				<div class="boxout ual-black-bg">
					<h3 class="no-pad-top">Boxout (dark)</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<ul>
						<li>Sagittis sed lacus.</li>
						<li>Praesent ullamcorper tincidunt nisl, sit amet pretium nulla iaculis sit amet.</li>
						<li>Consectetur adipiscing elit. Fusce nulla turpis, ullamcorper congue pharetra sit amet.</li>
						<li>Porta nec, hendrerit quis arcu.</li>
					</ul>
				</div>
			</div>


		</div><!-- end main-content -->
	</div><!-- end row -->
</div><!-- end content wrapper -->


<!-- accordion -->
<div class="panel bg-gray-bg">
	<div class="content-wrapper">
		{% include components/_accordion.html %}
	</div>
</div>

<!-- events listing -->
<div class="content-wrapper">
	{% include components/_events-listing.html %}
</div>

<!-- image gallery -->
<div class="panel dark-gray-bg">
	<div class="content-wrapper">
		{% include components/_gallery-lightbox-showtime.html %}
	</div>
</div>

<!-- map block -->
<div class="panel bg-gray-bg">
	<div class="content-wrapper">
		{% include components/_map-block.html %}
	</div>
</div>

<!-- related content -->
<div class="panel bg-gray-bg">
	<div class="content-wrapper">
		{% include components/_related-content.html %}	
	</div>
</div>
