---
title: Tabs to Accordion
last-updated: July 30, 2013
layout: docs.tpl
college: docs
class-home: docs
breadcrumb: Tabs to Accordion 
---

<div class="content-wrapper">
	<div class="row">
		<!-- sidebar for page navigation --> 
		<div role="navigation" class="sidebar">
			<ul>
				<!-- new feature block -->
				{% include _docs-sidebar.html %}
			</ul> 
		</div>
		<div role="main" class="content">
			<div class="row">
				<div class="l-content  block  __text  __with-aside ">
						<p class="leader">Morbi sem orci, ullamcorper non elementum vitae, sagittis sed lacus. Suspendisse feugiat, nunc eget ornare condimentum.</p>
						<p>Morbi sem orci, ullamcorper non elementum vitae, sagittis sed lacus. Suspendisse feugiat, nunc eget ornare condimentum, neque est venenatis est, eu feugiat libero tellus vitae purus. Sed et laoreet erat. Duis ac risus rutrum metus volutpat volutpat non eget ante. Etiam ac nisl vel mauris imperdiet scelerisque ut ut lectus. Aenean vitae arcu arcu. Duis in interdum magna.</p>
				</div>	
				<aside>
						<h3>Usage</h3>
							<p>Example pages of where this component is used.</p>
						<h3>SCSS</h3>
							<p>_tabs-to-accordion.scss</p>
						<h3>Includes</h3>
							<p>_tabs-to-accordion.html</p>
				</aside>		
			</div>
				
				  <!-- tabs to accordion -->
					{% include components/_tabs-to-accordion.html %}

		
		</div> <!-- end main-content -->
	</div> <!-- end row -->
</div> <!-- end content-wrapper -->			


